  .file-upload {
            width: 100px;
            height: 100px;
            background: white none repeat scroll 0 0;
            border: 2px dashed #0087f7;
            border-radius: 12px;
            margin-top: 10px;
        }
        
        .file-upload:hover {
            cursor: pointer;
            /*        border-style: solid;
            border-width: 1px;
            border-color: rgb(221, 220, 220);*/
        }

        .file-upload .filethumbnail img.img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        .file-upload .file-input {
            display: none;
        }

        .file-upload .drop-click-zone {
            width: 100%;
            height: 100%;
            /* position: absolute; */
            /* z-index: 2;*/
            /*            background-color: red;*/
        }

        .file-upload .info {
            display: none;
        }

        .file-upload .filethumbnail {
            /*            background-color: green;*/

            width: 100%;
            height: 100%;
            /* top: -100%;*/

            position: relative;
            /* z-index: -1;*/
        }

        .qtip-file-message span {
            display: block;
        }

        .file-upload .message {
            position: relative;
            top: -60%;
            color: rgba(245, 245, 245, 0);
            height: 100%;
            display: none;
            text-align: center;
        }

        .file-upload:hover .message {
            color: whitesmoke;
            display: block;
        }
        /*Bootstrap file styling*/

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }