@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/plugins/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('/plugins/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/plugins/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/plugins/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/plugins/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/plugins/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
#logo {
  text-align: center;
}
#logo img {
  margin-bottom: 10px;
}
#menu-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  margin: 5px 5px 0 0;
  border-radius: 0;
  color: #ff0a05;
  font-size: 28px;
}
#menu-close {
  z-index: 1000;
}
#sidebar-wrapper.active {
  right: 250px;
  transition: all 0.4s ease 0s;
}
.sidebar-nav-open {
  position: none;
}
.sidebar-nav-close {
  position: absolute;
}
#sidebar-wrapper {
  background: #ff495a none repeat scroll 0 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(250px);
  transition: all 0.4s ease 0s;
  z-index: 1000;
}
#sidebar-wrapper .container {
  width: 750px;
}
#sidebar-wrapper .sidebar-nav {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  top: 0;
  color: #fff;
}
#sidebar-wrapper .sidebar-nav .sidebar-brand {
  margin-bottom: 40px;
  margin-top: 0px;
  margin-left: 15px;
}
#sidebar-wrapper .sidebar-nav h3 {
  margin-top: 0px;
  margin-left: 15px;
}
#sidebar-wrapper .sidebar-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
}
#sidebar-wrapper .btn-light {
  background-color: #ffffff;
  border-radius: 0;
  color: #333;
}
#sidebar-wrapper .sidebar-nav > .sidebar-brand {
  font-size: 18px;
  height: 55px;
  line-height: 55px;
}
#sidebar-wrapper .sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
