.version.index{color:#0000EF;background-color:#27D96C;}
.js body{visibility:hidden;}
.js body.initialized{visibility:visible;}
#page{z-index:1;border-color:#000000;margin-right:auto;background-color:transparent;width:100%;border-width:0px;margin-left:auto;background-image:none;}
.MenuItem{cursor:pointer;}
#u3082{z-index:2;border-color:#ADB9AF;background-color:#ECF0F1;box-shadow:0px 0px 25px rgba(127,127,127,0.5);border-width:1px;border-style:solid;}
#u3082_align_to_page{margin-right:auto;margin-left:auto;position:relative;}
#u3082_position_content{width:100%;}
#buttonu49495{border-color:#787878;padding-bottom:12px;background-color:#6EBEE3;position:relative;margin-right:-10000px;}
#buttonu49495.ButtonSelected{min-height:0px;background-color:#6EBEE3;margin-bottom:0px;margin-top:0px;margin-right:-10000px;}
#u35080{position:relative;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;background:#000000 url("../images/35776994bo9s207mpu.jpg?crc=435018309") no-repeat center top;background-size:cover;}
#u35083-4{color:#FCEE21;position:relative;min-height:18px;background-color:transparent;margin-top:5px;}
#u35084-5{color:#FCEE21;position:relative;min-height:18px;background-color:transparent;margin-top:14px;}
#u35084-3{line-height:0px;}
#u35084{line-height:22px;font-size:18px;font-weight:bold;}
#u35084-2{line-height:17px;}
#u35085-4{color:#FCEE21;line-height:14px;background-color:transparent;position:relative;min-height:18px;font-size:12px;margin-top:1px;}
#buttonu49421{border-color:#787878;background-color:#72CCA5;position:relative;margin-right:-10000px;}
#buttonu49421.ButtonSelected{min-height:0px;background-color:#72CCA5;margin-bottom:0px;margin-top:0px;margin-right:-10000px;}
#u49422-4{color:#FFFFFF;font-size:18px;position:relative;text-align:left;margin-right:-10000px;line-height:22px;background-color:transparent;letter-spacing:1px;min-height:23px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;}
#buttonu49421:hover #u49422-4,#buttonu49421.ButtonSelected #u49422-4{min-height:23px;padding-top:0px;padding-bottom:0px;margin-left:0%;margin-bottom:0px;margin-right:-10000px;}
#u33352{position:relative;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;background:transparent url("../images/1-dark.jpg?crc=6594513") no-repeat center top;background-size:cover;}
#u35082-4,#u35171-4{color:#FCEE21;background-color:transparent;position:relative;min-height:18px;}
#u35172-4{color:#FCEE21;line-height:22px;font-weight:bold;position:relative;min-height:18px;font-size:18px;background-color:transparent;}
#u35298-4{color:#FCEE21;background-color:transparent;position:relative;min-height:18px;font-weight:normal;}
#u35299-4{color:#FCEE21;line-height:14px;font-size:12px;background-color:transparent;position:relative;min-height:18px;}
#pbuttonu49495,#pbuttonu49421,#pbuttonu49516{left:-3px;position:relative;}
#buttonu49516{border-color:#787878;padding-bottom:12px;background-color:#F7931E;position:relative;margin-right:-10000px;}
#buttonu49495:hover,#buttonu49421:hover,#buttonu49516:hover{min-height:0px;background-color:#879A9C;margin-bottom:0px;margin-top:0px;margin-right:-10000px;}
#buttonu49516:active,#buttonu49516.ButtonSelected{min-height:0px;background-color:#F7931E;margin-bottom:0px;margin-top:0px;margin-right:-10000px;}
#u49496-4,#u49517-4{color:#FFFFFF;font-size:18px;position:relative;text-align:left;margin-top:15px;margin-right:-10000px;line-height:22px;background-color:transparent;letter-spacing:1px;min-height:23px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;}
#buttonu49495:hover #u49496-4 p,#buttonu49421:hover #u49422-4 p,#buttonu49516:hover #u49517-4 p,#buttonu49516:active #u49517-4 p{visibility:inherit;color:#FFFFFF;}
#buttonu49495:hover #u49496-4,#buttonu49495.ButtonSelected #u49496-4,#buttonu49516:hover #u49517-4,#buttonu49516:active #u49517-4,#buttonu49516.ButtonSelected #u49517-4{min-height:23px;padding-top:0px;padding-bottom:0px;margin:15px -10000px 0px 0%;}
#u35786{position:relative;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;background:transparent url("../images/2%20(4).jpg?crc=535091310") no-repeat center top;background-size:cover;}
#u35081,#u35165,#u35789{position:relative;margin-right:-10000px;-pie-background:rgba(0,0,0,0.5);}
#u35081:hover,#u35165:hover,#u35789:hover{margin-bottom:0px;min-height:0px;margin-top:0px;margin-right:-10000px;-pie-background:rgba(0,0,0,0.1);}
#u35925{position:relative;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;height:50px;background:transparent url("../images/222.jpg?crc=4174267044") no-repeat center top;background-size:cover;}
#u42287{z-index:16;border-color:transparent;background-color:transparent;position:relative;border-width:0px;}
#u26976{z-index:17;background-color:#29ABE2;position:relative;margin-right:-10000px;}
#u27949-6{z-index:18;color:#FFFFFF;background-color:transparent;position:relative;width:221px;margin-right:-10000px;}
#u22510{z-index:15;border-color:transparent;position:relative;min-height:250px;width:299px;border-width:0px;background-color:transparent;}
#u3082-bw{z-index:2;}
#u24759{z-index:24;background-color:#FFFFFF;}
#u25393-4{z-index:25;font-size:22px;line-height:26px;background-color:transparent;position:relative;margin-right:-10000px;}
#u25393-4:hover{margin-bottom:0px;padding-top:0px;padding-bottom:0px;margin-right:-10000px;}
#u25393-4:hover p{font-size:18px;font-weight:bold;}
#u25396{z-index:29;background-color:#FFFFFF;}
#u45178-21{font-size:15px;line-height:18px;background-color:#FFFFFF;position:relative;margin-right:-10000px;}
#u50607-4{color:#29ABE2;position:relative;font-size:14px;text-align:center;z-index:3;background-color:transparent;font-weight:bold;}
#u50613-4{color:#29ABE2;position:relative;font-size:14px;text-align:center;z-index:7;background-color:transparent;font-weight:bold;}
#u50625-4{color:#29ABE2;position:relative;font-size:14px;text-align:center;z-index:11;background-color:transparent;font-weight:bold;}
#u50607-4:hover,#u50613-4:hover,#u50625-4:hover{padding-top:0px;padding-bottom:0px;margin-bottom:0px;}
#u50607-4:hover p,#u50613-4:hover p,#u50625-4:hover p{visibility:inherit;color:#FF0000;}
.html{background-color:#FFFFFF;}
body{position:relative;}
@media (min-width: 921px), print{#muse_css_mq{background-color:#FFFFFF;}
#bp_infinity.active{display:block;}
#page{min-height:1500px;max-width:980px;}
#page_position_content{padding-top:4px;padding-bottom:20px;width:100%;}
#u3082_align_to_page{max-width:979px;}
#u3082_position_content{padding-top:23px;padding-bottom:43px;}
#pbuttonu49495{z-index:232;width:100.11%;}
#buttonu49495{z-index:232;width:66.52%;left:1.84%;}
#buttonu49495:hover{width:66.52%;margin-left:0%;}
#u49496-4{z-index:233;width:45.33%;left:1.72%;}
#buttonu49495:hover #u49496-4{width:45.33%;}
#menuu37267{z-index:168;width:301px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:100%;left:-314px;}
#u37268{width:301px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u37269{width:301px;background-color:#7ECCED;background-color:rgba(41,171,226,0.6);padding-bottom:28px;position:relative;-pie-background:rgba(41,171,226,0.6);}
#u37269:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:301px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u37269:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:301px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u37269.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:301px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u37271-4{width:197px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:52px;}
#u37269:hover #u37271-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:197px;margin:0px -10000px 0px 0px;}
#u37269:active #u37271-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:197px;margin:0px -10000px 0px 0px;}
#u37269.MuseMenuActive #u37271-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:197px;margin:0px -10000px 0px 0px;}
#u37269:hover #u37271-4 p{color:#FFFFFF;visibility:inherit;}
#u37269:active #u37271-4 p{color:#FFFFFF;visibility:inherit;}
#pu35044-4{z-index:30;left:-1px;margin-top:22px;position:relative;width:100.11%;}
#u35044-4{z-index:30;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:151px;width:28.07%;left:3.37%;}
#u43472{z-index:34;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;width:30.52%;left:2.05%;}
#u33219{z-index:35;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;width:100%;background:#000000 url("../images/image.jpg?crc=3992692330") no-repeat center top;background-size:cover;}
#u35038{z-index:36;height:251px;background-color:#B2B2B2;background-color:rgba(0,0,0,0.3);position:relative;margin-right:-10000px;width:100%;left:0.34%;-pie-background:rgba(0,0,0,0.3);}
#u35038:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);height:251px;min-height:0px;width:100%;margin:0px -10000px 0px 0%;-pie-background:rgba(0,0,0,0.1);}
#u35080{z-index:37;margin-right:-10000px;width:30.72%;left:34.7%;}
#u35081{z-index:38;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:151px;padding-bottom:5px;width:99.67%;left:0.34%;}
#u35081:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:99.67%;margin-left:0%;}
#u35082-4{z-index:39;width:91.67%;margin-left:4.67%;}
#u35083-4{z-index:43;width:91.67%;margin-left:4.67%;}
#u35084-5{z-index:47;width:91.67%;margin-left:4.67%;}
#u35085-4{z-index:52;width:91.67%;margin-left:5%;}
#u35116{z-index:56;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;width:30.72%;left:67.45%;background:#000000 url("../images/7rzvfammwy8.jpg?crc=261436100") no-repeat center top;background-size:cover;}
#u35117{z-index:57;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:151px;padding-bottom:5px;position:relative;margin-right:-10000px;width:100%;left:0.34%;-pie-background:rgba(0,0,0,0.5);}
#u35117:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);min-height:0px;width:100%;margin:0px -10000px 0px 0%;-pie-background:rgba(0,0,0,0.1);}
#u35118-4{z-index:58;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;width:91.37%;margin-left:3.99%;}
#u35119-4{z-index:62;min-height:18px;background-color:transparent;color:#FCEE21;margin-top:5px;position:relative;width:91.37%;margin-left:3.99%;}
#u35120-5{z-index:66;min-height:18px;background-color:transparent;color:#FCEE21;margin-top:14px;position:relative;width:91.37%;margin-left:3.99%;}
#u35121-4{z-index:71;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;margin-top:1px;position:relative;width:91.37%;margin-left:4.32%;}
#u44481-4{z-index:189;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:151px;width:28.07%;left:2.96%;}
#u44482-4{z-index:193;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:174px;width:28.07%;left:3.07%;}
#u44483-5{z-index:197;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:206px;width:28.07%;left:3.07%;}
#u35120-3,#u44483-3{line-height:0px;}
#u35120,#u44483{font-size:18px;font-weight:bold;line-height:22px;}
#u35120-2,#u44483-2{line-height:17px;}
#u44484-4{z-index:202;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:228px;width:28.07%;left:3.17%;}
#pbuttonu49421{z-index:227;margin-top:18px;width:100.11%;}
#buttonu49421{z-index:227;padding-bottom:12px;width:66.52%;left:1.94%;}
#buttonu49495.ButtonSelected,#buttonu49421:hover{width:66.52%;margin-left:0%;}
#u49422-4{z-index:228;margin-top:15px;width:45.33%;left:1.72%;}
#buttonu49421:hover #u49422-4{margin-top:15px;width:45.33%;}
#buttonu49421.ButtonSelected #u49422-4{margin-top:15px;width:45.33%;}
#menuu37485{z-index:175;width:300px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;margin-left:100%;left:-314px;}
#u37487{width:300px;background-color:#7AD2AB;background-color:rgba(34,181,115,0.6);padding-bottom:28px;position:relative;-pie-background:rgba(34,181,115,0.6);}
#u37487:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u37487:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u37487.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:300px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u37488-4{width:232px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:34px;}
#u37487:hover #u37488-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:232px;margin:0px -10000px 0px 0px;}
#u37487:active #u37488-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:232px;margin:0px -10000px 0px 0px;}
#u37487.MuseMenuActive #u37488-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:232px;margin:0px -10000px 0px 0px;}
#u37269.MuseMenuActive #u37271-4 p,#u37487:hover #u37488-4 p{color:#FFFFFF;visibility:inherit;}
#u37487:active #u37488-4 p{color:#FFFFFF;visibility:inherit;}
#pu33352{z-index:75;left:-1px;margin-top:20px;position:relative;width:100.11%;}
#u33352{z-index:75;margin-right:-10000px;width:30.72%;left:2.05%;}
#u35165{z-index:76;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:150px;padding-bottom:9.49999999999909px;width:100%;left:0.34%;}
#u35165:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:100%;margin-left:0%;}
#u35171-4{z-index:77;width:91.37%;margin-left:3.66%;}
#u35172-4{z-index:81;margin-top:5px;width:91.37%;margin-left:3.66%;}
#u35298-4{z-index:105;margin-top:5px;width:91.37%;margin-left:3.66%;}
#u35299-4{z-index:109;margin-top:4px;width:91.37%;margin-left:3.99%;}
#u35200{z-index:85;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;width:30.72%;left:34.7%;background:transparent url("../images/3.jpg?crc=3998376058") no-repeat center top;background-size:cover;}
#u35201{z-index:86;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:150px;padding-bottom:9.499999999999545px;position:relative;margin-right:-10000px;width:100%;left:0.34%;-pie-background:rgba(0,0,0,0.5);}
#u35201:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);min-height:0px;width:100%;margin:0px -10000px 0px 0%;-pie-background:rgba(0,0,0,0.1);}
#u35202-4{z-index:87;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;width:91.37%;margin-left:3.66%;}
#u35203-4{z-index:91;min-height:18px;background-color:transparent;line-height:22px;color:#FCEE21;font-size:18px;font-weight:bold;margin-top:5px;position:relative;width:91.37%;margin-left:3.66%;}
#u35300-4{z-index:113;min-height:18px;background-color:transparent;color:#FCEE21;font-weight:normal;margin-top:5px;position:relative;width:91.37%;margin-left:3.66%;}
#u35301-4{z-index:117;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;margin-top:4px;position:relative;width:91.37%;margin-left:3.99%;}
#u35231{z-index:95;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;width:30.72%;left:67.35%;background:transparent url("../images/vid-iz-okna.jpg?crc=4161319717") no-repeat center top;background-size:cover;}
#u35232{z-index:96;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:150px;padding-bottom:9.499999999999545px;position:relative;margin-right:-10000px;width:100%;left:0.34%;-pie-background:rgba(0,0,0,0.5);}
#u35232:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);min-height:0px;width:100%;margin:0px -10000px 0px 0%;-pie-background:rgba(0,0,0,0.1);}
#u35233-4{z-index:97;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;width:91.37%;margin-left:3.66%;}
#u35234-4{z-index:101;min-height:18px;background-color:transparent;line-height:22px;color:#FCEE21;font-size:18px;font-weight:bold;margin-top:5px;position:relative;width:91.37%;margin-left:3.66%;}
#u35302-4{z-index:121;min-height:18px;background-color:transparent;color:#FCEE21;font-weight:normal;margin-top:5px;position:relative;width:91.37%;margin-left:3.66%;}
#u35303-4{z-index:125;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;margin-top:4px;position:relative;width:91.37%;margin-left:3.99%;}
#pbuttonu49516{z-index:237;margin-top:19px;width:100.11%;}
#buttonu49516{z-index:237;width:66.52%;left:1.94%;} 
#buttonu49421.ButtonSelected,#buttonu49516:hover{width:66.52%;margin-left:0%;}
#buttonu49516:active{width:66.52%;margin-left:0%;}
#buttonu49516.ButtonSelected{width:66.52%;margin-left:0%;}
#u49517-4{z-index:238;width:45.33%;left:1.72%;}
#buttonu49495.ButtonSelected #u49496-4,#buttonu49516:hover #u49517-4{width:45.33%;}
#buttonu49516:active #u49517-4{width:45.33%;}
#buttonu49516.ButtonSelected #u49517-4{width:45.33%;}
#menuu37571{z-index:182;width:300px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;margin-left:100%;left:-314px;}
#u37486,#u37572{width:300px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u37573{width:300px;background-color:#F7931E;padding-bottom:28px;position:relative;}
#u37573:hover{background-color:#9FAEAF;background-color:rgba(135,154,156,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(135,154,156,0.8);}
#u37573:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u37573.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:300px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u37574-4{width:203px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:48px;}
#u37573:hover #u37574-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:203px;margin:0px -10000px 0px 0px;}
#u37573:active #u37574-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:203px;margin:0px -10000px 0px 0px;}
#u37573.MuseMenuActive #u37574-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:203px;margin:0px -10000px 0px 0px;}
#u37487.MuseMenuActive #u37488-4 p,#u37573:hover #u37574-4 p{color:#FFFFFF;visibility:inherit;}
#u37573:active #u37574-4 p{color:#FFFFFF;visibility:inherit;}
#u37573.MuseMenuActive #u37574-4 p{color:#FFFFFF;visibility:inherit;}
#pu35786{z-index:129;left:-1px;margin-top:20px;position:relative;width:100.11%;}
#u35786{z-index:129;margin-right:-10000px;margin-top:1px;width:30.72%;left:2.05%;}
#u35789{z-index:130;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:106px;padding-bottom:11px;width:100%;left:0.34%;}
#u35789:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:100%;margin-left:0%;}
#u35790-4{z-index:131;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;width:91.37%;margin-left:3.66%;}
#u35801-6{z-index:139;min-height:42px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;width:91.37%;margin-left:3.99%;}
#u35925{z-index:145;margin-top:15px;width:41.53%;margin-left:3.66%;}
#u35792{z-index:135;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;width:30.72%;left:34.7%;background:transparent url("../images/doronono-2_mart.jpg?crc=4204091806") no-repeat center top;background-size:cover;}
#u35793{z-index:136;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:107px;padding-bottom:11px;position:relative;margin-right:-10000px;width:100%;left:0.34%;-pie-background:rgba(0,0,0,0.5);}
#u35793:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);min-height:0px;width:100%;margin:0px -10000px 0px 0%;-pie-background:rgba(0,0,0,0.1);}
#u35945-4{z-index:146;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;width:91.37%;margin-left:4.32%;}
#u35946-6{z-index:150;min-height:43px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;width:91.37%;margin-left:4.66%;}
#u35947{z-index:156;height:50px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);margin-top:15px;position:relative;width:41.53%;margin-left:3.99%;background:transparent url("../images/222.jpg?crc=4174267044") no-repeat center top;background-size:cover;}
#u35796{z-index:137;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-top:1px;width:30.72%;left:67.35%;background:transparent url("../images/image-ff45344804aed692d686a6a6aaa5e76bb4843d43da2496a54aa67cf5c2bb1e48-v.jpg?crc=3941945918") no-repeat center top;background-size:cover;}
#u35797{z-index:138;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:106px;padding-bottom:11px;position:relative;margin-right:-10000px;width:100%;left:0.34%;-pie-background:rgba(0,0,0,0.5);}
#u35797:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);min-height:0px;width:100%;margin:0px -10000px 0px 0%;-pie-background:rgba(0,0,0,0.1);}
#u35961-4{z-index:157;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;width:91.37%;margin-left:5.99%;}
#u35962-6{z-index:161;min-height:43px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;width:91.37%;margin-left:6.32%;}
#u35801-2,#u35946-2,#u35962-2{font-size:12px;line-height:14px;}
#u35801-4,#u35946-4,#u35962-4{font-size:24px;line-height:29px;}
#u35963{z-index:167;height:50px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);margin-top:15px;position:relative;width:41.53%;margin-left:5.65%;background:transparent url("../images/222.jpg?crc=4174267044") no-repeat center top;background-size:cover;}
#ppu24759{z-index:0;left:-1px;margin-top:21px;position:relative;width:100.11%;}
#pu24759{z-index:24;margin-right:-10000px;margin-left:20px;width:63.27%;}
#u24759{padding-bottom:12px;position:relative;width:100%;}
#u25393-4{min-height:22px;margin-top:12px;left:18px;width:93.88%;}
#u25393-4:hover{margin-left:0px;margin-top:12px;min-height:22px;width:93.88%;}
#u25396{padding-bottom:16px;margin-top:1px;position:relative;width:100%;}
#u45178-21{z-index:206;min-height:444px;margin-top:15px;left:20px;width:93.88%;}
#pu42287{z-index:16;margin-right:-10000px;width:30.62%;margin-left:67.35%;}
#u42287{width:299px;}
#u26976{width:299px;padding-bottom:72px;}
#u27949-6{min-height:131px;margin-top:47px;left:18.4%;}
#u22510{margin-top:21px;margin-left:0.34%;}
#u3082,#u3082-bw{min-height:1612px;}
#pu50607-4{z-index:3;margin-top:50px;width:100%;}
#u50607-4{min-height:22px;margin-right:-10000px;width:17.86%;margin-left:41.08%;left:-179px;}
#u50607-4:hover{margin-right:-10000px;margin-top:0px;min-height:22px;width:17.86%;margin-left:41.08%;left:-179px;}
#u50613-4{min-height:22px;margin-right:-10000px;width:17.86%;margin-left:41.08%;left:-1px;}
#u50613-4:hover{margin-right:-10000px;margin-top:0px;min-height:22px;width:17.86%;margin-left:41.08%;left:-1px;}
#u50625-4{min-height:22px;margin-right:-10000px;width:17.86%;margin-left:41.08%;left:179px;}
#u50625-4:hover{margin-right:-10000px;margin-top:0px;min-height:22px;width:17.86%;margin-left:41.08%;left:179px;}
}
@media (min-width: 601px) and (max-width: 920px){#muse_css_mq{background-color:#000398;}
#bp_920.active{display:block;}
#page{min-height:1500px;max-width:920px;}
#page_position_content{padding-top:6px;padding-bottom:20px;width:100%;}
#u48531-4{z-index:226;width:179px;min-height:8px;background-color:transparent;font-size:14px;color:#22B573;font-weight:bold;position:relative;margin-left:50%;left:128px;}
#u3082{min-height:1946px;}
#u3082_align_to_page{max-width:919px;}
#u3082_position_content{padding-top:69px;padding-bottom:45px;}
#pbuttonu49495{z-index:235;width:100.11%;}
#buttonu49495{z-index:235;width:301px;margin-left:50%;left:-301px;}
#buttonu49495:hover{width:301px;margin-left:50%;left:-301px;}
#u49496-4{z-index:236;width:273px;left:3.33%;}
#buttonu49495:hover #u49496-4{width:273px;}
#menuu37267{z-index:151;width:301px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:0px;}
#u37268{width:301px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u37269{width:301px;background-color:#7ECCED;background-color:rgba(41,171,226,0.6);padding-bottom:28px;position:relative;-pie-background:rgba(41,171,226,0.6);}
#u37269:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:301px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u37269:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:301px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u37269.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:301px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u37271-4{width:197px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:52px;}
#u37269:hover #u37271-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:197px;margin:0px -10000px 0px 0px;}
#u37269:active #u37271-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:197px;margin:0px -10000px 0px 0px;}
#u37269.MuseMenuActive #u37271-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:197px;margin:0px -10000px 0px 0px;}
#u37269:hover #u37271-4 p{color:#FFFFFF;visibility:inherit;}
#u37269:active #u37271-4 p{color:#FFFFFF;visibility:inherit;}
#pu35044-4{z-index:30;left:-1px;margin-top:20px;position:relative;width:100.11%;}
#u35044-4{z-index:30;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:151px;margin-left:50%;left:-292px;}
#u43472{z-index:34;width:189px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;margin-left:50%;left:-300px;}
#u33219{z-index:35;width:189px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-left:50%;left:-95px;background:#000000 url("../images/image.jpg?crc=3992692330") no-repeat center top;background-size:cover;}
#u35038{z-index:36;width:189px;height:251px;background-color:#B2B2B2;background-color:rgba(0,0,0,0.3);position:relative;margin-right:-10000px;margin-left:50%;left:-95px;-pie-background:rgba(0,0,0,0.3);}
#u35038:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:189px;height:251px;min-height:0px;left:-95px;margin:0px -10000px 0px 50%;-pie-background:rgba(0,0,0,0.1);}
#u35080{z-index:37;width:190px;margin-right:-10000px;margin-left:50%;left:-95px;}
#u35081{z-index:38;width:190px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:150px;padding-bottom:6px;margin-left:50%;left:-95px;}
#u35081:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:190px;margin-left:50%;left:-95px;}
#u35082-4{z-index:39;width:173px;margin-left:50%;left:-86px;}
#u35083-4{z-index:43;width:173px;margin-left:50%;left:-86px;}
#u35084-5{z-index:47;width:173px;margin-left:50%;left:-86px;}
#u35085-4{z-index:52;width:173px;margin-left:50%;left:-85px;}
#u35116{z-index:56;width:190px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-left:50%;left:110px;background:#000000 url("../images/7rzvfammwy8.jpg?crc=261436100") no-repeat center top;background-size:cover;}
#u35117{z-index:57;width:190px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:149px;padding-bottom:6px;position:relative;margin-right:-10000px;margin-left:50%;left:-95px;-pie-background:rgba(0,0,0,0.5);}
#u35117:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:190px;min-height:0px;left:-95px;margin:0px -10000px 0px 50%;-pie-background:rgba(0,0,0,0.1);}
#u44481-4{z-index:188;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-86px;}
#u44482-4{z-index:192;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;margin-top:5px;position:relative;margin-left:50%;left:-86px;}
#u44483-5{z-index:196;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;margin-top:14px;position:relative;margin-left:50%;left:-86px;}
#u44483-3{line-height:0px;}
#u44483{font-size:18px;font-weight:bold;line-height:22px;}
#u44483-2{line-height:17px;}
#u44484-4{z-index:201;width:173px;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;margin-top:1px;position:relative;margin-left:50%;left:-85px;}
#u44442-4{z-index:172;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:65px;margin-left:50%;left:-288px;}
#u44443-4{z-index:176;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:87px;margin-left:50%;left:-288px;}
#u44444-4{z-index:180;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:204px;margin-left:50%;left:-290px;}
#u44445-4{z-index:184;width:173px;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;position:relative;margin-right:-10000px;margin-top:142px;margin-left:50%;left:-291px;}
#pbuttonu49421{z-index:230;margin-top:21px;width:100.11%;}
#buttonu49421{z-index:230;width:301px;padding-bottom:12px;margin-left:50%;left:-301px;}
#buttonu49495.ButtonSelected,#buttonu49421:hover{width:301px;margin-left:50%;left:-301px;}
#u49422-4{z-index:231;width:273px;margin-top:15px;left:3.33%;}
#buttonu49421:hover #u49422-4{margin-top:15px;width:273px;}
#buttonu49421.ButtonSelected #u49422-4{margin-top:15px;width:273px;}
#menuu37485{z-index:158;width:300px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;margin-left:50%;left:0px;}
#u37487{width:300px;background-color:#7AD2AB;background-color:rgba(34,181,115,0.6);padding-bottom:28px;position:relative;-pie-background:rgba(34,181,115,0.6);}
#u37487:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u37487:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u37487.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:300px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u37488-4{width:232px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:34px;}
#u37487:hover #u37488-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:232px;margin:0px -10000px 0px 0px;}
#u37487:active #u37488-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:232px;margin:0px -10000px 0px 0px;}
#u37487.MuseMenuActive #u37488-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:232px;margin:0px -10000px 0px 0px;}
#u37269.MuseMenuActive #u37271-4 p,#u37487:hover #u37488-4 p{color:#FFFFFF;visibility:inherit;}
#u37487:active #u37488-4 p{color:#FFFFFF;visibility:inherit;}
#pu33352{z-index:58;left:-1px;margin-top:19px;position:relative;width:100.11%;}
#u33352{z-index:58;width:189px;height:250px;margin-right:-10000px;margin-left:50%;left:-299px;}
#u35165{z-index:59;width:189px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:112px;padding-bottom:14.49999999999909px;margin-left:50%;left:-300px;}
#u35165:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:189px;margin-left:50%;left:-300px;}
#u35171-4{z-index:60;width:173px;margin-left:50%;left:-88px;}
#u35172-4{z-index:64;width:173px;margin-top:5px;margin-left:50%;left:-88px;}
#u35298-4{z-index:88;width:173px;margin-top:6px;margin-left:50%;left:-88px;}
#u35299-4{z-index:92;width:173px;margin-top:4px;margin-left:50%;left:-87px;}
#u35200{z-index:68;width:190px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-left:50%;left:-94px;background:transparent url("../images/3.jpg?crc=3998376058") no-repeat center top;background-size:cover;}
#u35201{z-index:69;width:190px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:112px;padding-bottom:14.499999999999545px;position:relative;margin-right:-10000px;margin-left:50%;left:-96px;-pie-background:rgba(0,0,0,0.5);}
#u35201:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:190px;min-height:0px;left:-96px;margin:0px -10000px 0px 50%;-pie-background:rgba(0,0,0,0.1);}
#u35202-4{z-index:70;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-88px;}
#u35203-4{z-index:74;width:173px;min-height:18px;background-color:transparent;line-height:22px;color:#FCEE21;font-size:18px;font-weight:bold;margin-top:5px;position:relative;margin-left:50%;left:-88px;}
#u35300-4{z-index:96;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;font-weight:normal;margin-top:6px;position:relative;margin-left:50%;left:-88px;}
#u35301-4{z-index:100;width:173px;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;margin-top:4px;position:relative;margin-left:50%;left:-87px;}
#u35231{z-index:78;width:190px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-left:50%;left:110px;background:transparent url("../images/vid-iz-okna.jpg?crc=4161319717") no-repeat center top;background-size:cover;}
#u35232{z-index:79;width:190px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:112px;padding-bottom:14.499999999999545px;position:relative;margin-right:-10000px;margin-left:50%;left:-96px;-pie-background:rgba(0,0,0,0.5);}
#u35232:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:190px;min-height:0px;left:-96px;margin:0px -10000px 0px 50%;-pie-background:rgba(0,0,0,0.1);}
#u35233-4{z-index:80;width:174px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-88px;}
#u35234-4{z-index:84;width:174px;min-height:18px;background-color:transparent;line-height:22px;color:#FCEE21;font-size:18px;font-weight:bold;margin-top:5px;position:relative;margin-left:50%;left:-88px;}
#u35302-4{z-index:104;width:174px;min-height:18px;background-color:transparent;color:#FCEE21;font-weight:normal;margin-top:6px;position:relative;margin-left:50%;left:-88px;}
#u35303-4{z-index:108;width:174px;min-height:18px;background-color:transparent;font-size:12px;line-height:14px;color:#FCEE21;margin-top:4px;position:relative;margin-left:50%;left:-87px;}
#pbuttonu49516{z-index:240;margin-top:20px;width:100.11%;}
#buttonu49516{z-index:240;width:301px;margin-left:50%;left:-301px;}
#buttonu49421.ButtonSelected,#buttonu49516:hover{width:301px;margin-left:50%;left:-301px;}
#buttonu49516:active{width:301px;margin-left:50%;left:-301px;}
#buttonu49516.ButtonSelected{width:301px;margin-left:50%;left:-301px;}
#u49517-4{z-index:241;width:273px;left:3.33%;}
#buttonu49495.ButtonSelected #u49496-4,#buttonu49516:hover #u49517-4{width:273px;}
#buttonu49516:active #u49517-4{width:273px;}
#buttonu49516.ButtonSelected #u49517-4{width:273px;}
#menuu37571{z-index:165;width:300px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;margin-left:50%;left:0px;}
#u37486,#u37572{width:300px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u37573{width:300px;background-color:#F7931E;padding-bottom:28px;position:relative;}
#u37573:hover{background-color:#9FAEAF;background-color:rgba(135,154,156,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(135,154,156,0.8);}
#u37573:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:300px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u37573.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:300px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u37574-4{width:203px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:48px;}
#u37573:hover #u37574-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:203px;margin:0px -10000px 0px 0px;}
#u37573:active #u37574-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:203px;margin:0px -10000px 0px 0px;}
#u37573.MuseMenuActive #u37574-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:203px;margin:0px -10000px 0px 0px;}
#u37487.MuseMenuActive #u37488-4 p,#u37573:hover #u37574-4 p{color:#FFFFFF;visibility:inherit;}
#u37573:active #u37574-4 p{color:#FFFFFF;visibility:inherit;}
#u37573.MuseMenuActive #u37574-4 p{color:#FFFFFF;visibility:inherit;}
#pu35786{z-index:112;left:-1px;margin-top:20px;position:relative;width:100.11%;}
#u35786{z-index:112;width:189px;margin-right:-10000px;margin-left:50%;left:-299px;}
#u35789{z-index:113;width:189px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:85px;padding-bottom:10px;margin-left:50%;left:-96px;}
#u35789:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:189px;margin-left:50%;left:-96px;}
#u35790-4{z-index:114;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-88px;}
#u35801-6{z-index:122;width:173px;min-height:42px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;margin-left:50%;left:-87px;}
#u35925{z-index:128;width:160px;margin-top:8px;margin-left:50%;left:-80px;}
#u35792{z-index:118;width:190px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-left:50%;left:-94px;background:transparent url("../images/doronono-2_mart.jpg?crc=4204091806") no-repeat center top;background-size:cover;}
#u35793{z-index:119;width:190px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:86px;padding-bottom:10px;position:relative;margin-right:-10000px;margin-left:50%;left:-96px;-pie-background:rgba(0,0,0,0.5);}
#u35793:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:190px;min-height:0px;left:-96px;margin:0px -10000px 0px 50%;-pie-background:rgba(0,0,0,0.1);}
#u35945-4{z-index:129;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-87px;}
#u35946-6{z-index:133;width:173px;min-height:43px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;margin-left:50%;left:-86px;}
#u35947{z-index:139;width:160px;height:50px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);margin-top:8px;position:relative;margin-left:50%;left:-79px;background:transparent url("../images/222.jpg?crc=4174267044") no-repeat center top;background-size:cover;}
#u35796{z-index:120;width:189px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:relative;margin-right:-10000px;margin-left:50%;left:111px;background:transparent url("../images/image-ff45344804aed692d686a6a6aaa5e76bb4843d43da2496a54aa67cf5c2bb1e48-v.jpg?crc=3941945918") no-repeat center top;background-size:cover;}
#u35797{z-index:121;width:189px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:85px;padding-bottom:11px;position:relative;margin-right:-10000px;margin-left:50%;left:-96px;-pie-background:rgba(0,0,0,0.5);}
#u35797:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:189px;min-height:0px;left:-96px;margin:0px -10000px 0px 50%;-pie-background:rgba(0,0,0,0.1);}
#u35961-4{z-index:140;width:173px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-84px;}
#u35962-6{z-index:144;width:173px;min-height:43px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;margin-left:50%;left:-83px;}
#u35801-2,#u35946-2,#u35962-2{font-size:12px;line-height:14px;}
#u35801-4,#u35946-4,#u35962-4{font-size:24px;line-height:29px;}
#u35963{z-index:150;width:160px;height:50px;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);margin-top:7px;position:relative;margin-left:50%;left:-80px;background:transparent url("../images/222.jpg?crc=4174267044") no-repeat center top;background-size:cover;}
#u24759{width:600px;padding-bottom:10px;margin-top:29px;position:relative;margin-left:50%;left:-301px;}
#u25393-4{width:584px;min-height:33px;margin-top:17px;margin-left:50%;left:-294px;}
#u25393-4:hover{margin-top:17px;min-height:33px;width:584px;margin-left:50%;left:-294px;}
#u25396{width:600px;padding-bottom:23px;margin-top:1px;position:relative;margin-left:50%;left:-301px;}
#u45178-21{z-index:205;width:581px;min-height:434px;margin-top:10px;margin-left:50%;left:-291px;}
#pu42287{z-index:16;left:-1px;margin-top:20px;position:relative;width:100.11%;}
#u42287{width:299px;margin-right:-10000px;margin-left:50%;left:-298px;}
#u26976{width:299px;padding-bottom:65px;margin-left:50%;left:-150px;}
#u27949-6{min-height:133px;margin-top:56px;margin-left:50%;left:-123px;}
#u22510{margin-right:-10000px;margin-left:50%;left:2px;}
#u3082-bw{min-height:1946px;margin-top:730px;}
.css_verticalspacer .verticalspacer{height:calc(100vh - 2762px);}
#pu50607-4{z-index:3;margin-top:20px;width:100%;}
#u50607-4{width:137px;min-height:22px;margin-right:-10000px;margin-left:50%;left:-188px;}
#u50607-4:hover{margin-right:-10000px;margin-top:0px;min-height:22px;width:137px;margin-left:50%;left:-188px;}
#u50613-4{width:164px;min-height:22px;margin-right:-10000px;margin-left:50%;left:-51px;}
#u50613-4:hover{margin-right:-10000px;margin-top:0px;min-height:22px;width:164px;margin-left:50%;left:-51px;}
#u50625-4{width:76px;min-height:22px;margin-right:-10000px;margin-left:50%;left:113px;}
#u50625-4:hover{margin-right:-10000px;margin-top:0px;min-height:22px;width:76px;margin-left:50%;left:113px;}
body{overflow-x:hidden;}
}
@media (min-width: 301px) and (max-width: 600px){#muse_css_mq{background-color:#000258;}
#bp_600.active{display:block;}
#page{min-height:1499.5083333333378px;padding-bottom:0px;max-width:600px;}
#page_position_content{padding-top:5px;padding-bottom:5px;width:100%;}
#pu46327-4{z-index:135;width:100%;}
#u46327-4{z-index:135;width:75px;min-height:8px;background-color:transparent;line-height:14px;color:#22B573;font-size:12px;font-weight:bold;position:relative;margin-right:-10000px;margin-left:50%;left:-149px;}
#u46329-4{z-index:143;width:53px;min-height:8px;background-color:transparent;line-height:14px;color:#22B573;font-size:12px;font-weight:bold;position:relative;margin-right:-10000px;margin-left:50%;left:-26px;}
#u46328-4{z-index:139;width:89px;min-height:8px;background-color:transparent;line-height:14px;color:#22B573;font-size:12px;font-weight:bold;position:relative;margin-right:-10000px;margin-left:50%;left:60px;}
#u42790-4{z-index:76;width:189px;min-height:18px;background-color:transparent;font-size:10px;line-height:12px;color:#29ABE2;margin-top:14px;position:relative;margin-left:50%;left:-94px;}
#u42789-6{z-index:70;width:193px;min-height:26px;background-color:transparent;color:#000000;font-size:14px;text-align:left;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-weight:bold;position:relative;margin-left:50%;left:-95px;}
#menuu48311{z-index:147;width:200px;border-width:0px;border-color:transparent;background-color:transparent;margin-top:11px;position:relative;margin-left:50%;left:-100px;}
#u48312{width:200px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u48313{width:200px;background-color:#29ABE2;padding-bottom:28px;position:relative;}
#u48313:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:200px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u48313:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:200px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u48313.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:200px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u48316-4{width:168px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:16px;}
#u48313:hover #u48316-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:168px;margin:0px -10000px 0px 0px;}
#u48313:active #u48316-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:168px;margin:0px -10000px 0px 0px;}
#u48313.MuseMenuActive #u48316-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:168px;margin:0px -10000px 0px 0px;}
#u48313:hover #u48316-4 p{color:#FFFFFF;visibility:inherit;}
#u48313:active #u48316-4 p{color:#FFFFFF;visibility:inherit;}
#u3082{min-height:2119px;}
#u3082_align_to_page{max-width:599px;}
#u3082_position_content{padding-top:19px;padding-bottom:24px;}
#pbuttonu49495{z-index:159;width:100.17%;}
#buttonu49495{z-index:159;width:250px;margin-left:50%;left:-151px;}
#buttonu49495:hover{width:250px;margin-left:50%;left:-151px;}
#u49496-4{z-index:160;width:178px;left:2.81%;}
#buttonu49495:hover #u49496-4{width:178px;}
#menuu43613{z-index:80;width:50px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:100px;}
#u43615{width:50px;background-color:#7ECCED;background-color:rgba(41,171,226,0.6);padding-bottom:14px;position:relative;-pie-background:rgba(41,171,226,0.6);}
#u43615:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u43615:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u43615.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:50px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u43616-5{width:20px;min-height:36px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:7px;left:15px;}
#u43615:hover #u43616-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43615:active #u43616-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u48313.MuseMenuActive #u48316-4 p,#u43615:hover #u43616-5 p,#u43615:hover #u43616-5 span,#u43615:active #u43616-5 p,#u43615:active #u43616-5 span,#u43615.MuseMenuActive #u43616-5 p,#u43615.MuseMenuActive #u43616-5 span{color:#FFFFFF;visibility:inherit;}
#pu35080{z-index:30;left:-1px;margin-top:17px;position:relative;width:100.17%;}
#u35080{z-index:30;width:299px;height:251px;margin-right:-10000px;margin-left:50%;left:-150px;}
#u35081{z-index:31;width:299px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:150px;padding-bottom:6px;margin-left:50%;left:-150px;}
#u35081:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:299px;margin-left:50%;left:-150px;}
#u35082-4{z-index:32;width:273px;margin-left:50%;left:-135px;}
#u35083-4{z-index:36;width:273px;margin-left:50%;left:-135px;}
#u35084-5{z-index:40;width:273px;margin-left:50%;left:-135px;}
#u35085-4{z-index:45;width:273px;margin-left:50%;left:-134px;}
#pbuttonu49421{z-index:154;margin-top:20px;width:100.17%;}
#buttonu49421{z-index:154;width:250px;padding-bottom:11px;margin-left:50%;left:-151px;}
#buttonu49495.ButtonSelected,#buttonu49421:hover{width:250px;margin-left:50%;left:-151px;}
#u49422-4{z-index:155;width:243px;margin-top:16px;left:2.81%;}
#buttonu49421:hover #u49422-4{margin-top:16px;width:243px;}
#buttonu49421.ButtonSelected #u49422-4{margin-top:16px;width:243px;}
#menuu43696{z-index:88;width:50px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:100px;}
#u43698{width:50px;background-color:#72CCA5;padding-bottom:14px;position:relative;}
#u43698:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u43698:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u43698.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:50px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u43701-5{width:20px;min-height:36px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:7px;left:15px;}
#u43615.MuseMenuActive #u43616-5,#u43698:hover #u43701-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43698:active #u43701-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43698:hover #u43701-5 p,#u43698:hover #u43701-5 span,#u43698:active #u43701-5 p,#u43698:active #u43701-5 span,#u43698.MuseMenuActive #u43701-5 p,#u43698.MuseMenuActive #u43701-5 span{color:#FFFFFF;visibility:inherit;}
#u33352{z-index:49;width:298px;margin-top:20px;margin-left:50%;left:-150px;}
#u35165{z-index:50;width:298px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:115px;padding-bottom:24.499999999998863px;margin-left:50%;left:-150px;}
#u35165:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:298px;margin-left:50%;left:-150px;}
#u35171-4{z-index:51;width:273px;margin-left:50%;left:-138px;}
#u35172-4{z-index:55;width:273px;margin-top:2px;margin-left:50%;left:-138px;}
#u35298-4{z-index:59;width:273px;margin-top:11px;margin-left:50%;left:-138px;}
#u35299-4{z-index:63;width:273px;margin-top:21px;margin-left:50%;left:-137px;}
#pbuttonu49516{z-index:164;margin-top:20px;width:100.17%;}
#buttonu49516{z-index:164;width:250px;margin-left:50%;left:-151px;}
#buttonu49421.ButtonSelected,#buttonu49516:hover{width:250px;margin-left:50%;left:-151px;}
#buttonu49516:active{width:250px;margin-left:50%;left:-151px;}
#buttonu49516.ButtonSelected{width:250px;margin-left:50%;left:-151px;}
#u49517-4{z-index:165;width:178px;left:2.81%;}
#buttonu49495.ButtonSelected #u49496-4,#buttonu49516:hover #u49517-4{width:178px;}
#buttonu49516:active #u49517-4{width:178px;}
#buttonu49516.ButtonSelected #u49517-4{width:178px;}
#menuu43857{z-index:96;width:50px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:100px;}
#u43614,#u43697,#u43858{width:50px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u43859{width:50px;background-color:#F7931E;padding-bottom:14px;position:relative;}
#u43859:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u43859:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u43859.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:50px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u43862-5{width:20px;min-height:36px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:7px;left:15px;}
#u43698.MuseMenuActive #u43701-5,#u43859:hover #u43862-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43859:active #u43862-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43859.MuseMenuActive #u43862-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43859:hover #u43862-5 p,#u43859:hover #u43862-5 span,#u43859:active #u43862-5 p,#u43859:active #u43862-5 span,#u43859.MuseMenuActive #u43862-5 p,#u43859.MuseMenuActive #u43862-5 span{color:#FFFFFF;visibility:inherit;}
#u43616-3,#u43701-3,#u43862-3{line-height:0px;}
#u43616,#u43701,#u43862{font-size:30px;line-height:36px;}
#u43616-2,#u43701-2,#u43862-2{line-height:22px;}
#u35786{z-index:67;width:298px;margin-top:20px;margin-left:50%;left:-150px;}
#u35789{z-index:68;width:298px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:101px;padding-bottom:11.02499999999938px;margin-left:50%;left:-150px;}
#u35789:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:298px;margin-left:50%;left:-150px;}
#u43996-4{z-index:104;width:272px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-138px;}
#u43997-6{z-index:108;width:272px;min-height:42px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;margin-left:50%;left:-137px;}
#u43997-2{font-size:12px;line-height:14px;}
#u43997-4{font-size:18px;line-height:22px;font-weight:bold;}
#u35925{z-index:69;width:122px;margin-top:21px;margin-left:50%;left:-138px;}
#u24759{padding-bottom:10px;margin-top:19px;position:relative;width:100.17%;margin-left:0.09%;left:-1px;}
#u25393-4{min-height:33px;margin-top:17px;width:93.34%;margin-left:3.34%;left:0px;}
#u25393-4:hover{margin-top:17px;min-height:33px;width:93.34%;margin-left:3.34%;left:0px;}
#u25396{padding-bottom:23px;margin-top:1px;position:relative;width:100.17%;margin-left:0.09%;left:-1px;}
#u45178-21{z-index:114;min-height:434px;margin-top:10px;width:93.34%;margin-left:3.34%;left:0px;}
#u42287{width:298px;margin-top:21px;margin-left:50%;left:-150px;}
#u26976{width:298px;padding-bottom:64px;margin-left:50%;left:-149px;}
#u27949-6{min-height:131px;margin-top:55px;margin-left:50%;left:-122px;}
#u22510{margin-top:6px;margin-left:50%;left:-153px;}
#u3082-bw{min-height:2119px;margin-top:585px;}
.css_verticalspacer .verticalspacer{height:calc(100vh - 2913px);}
#u50607-4{width:106px;min-height:18px;margin-top:2px;margin-left:50%;left:-53px;}
#u50607-4:hover{margin-right:0px;margin-top:2px;min-height:18px;width:106px;margin-left:50%;left:-53px;}
#u50613-4{width:131px;min-height:17px;margin-top:1px;margin-left:50%;left:-66px;}
#u50613-4:hover{margin-right:0px;margin-top:1px;min-height:17px;width:131px;margin-left:50%;left:-66px;}
#u50625-4{width:78px;min-height:17px;margin-top:1px;margin-left:50%;left:-39px;}
#u50625-4:hover{margin-right:0px;margin-top:1px;min-height:17px;width:78px;margin-left:50%;left:-39px;}
body{overflow-x:hidden;}
}
@media (max-width: 300px){#muse_css_mq{background-color:#00012c;}
#bp_300.active{display:block;}
#page{min-height:1492.6833333333334px;padding-top:5px;padding-bottom:2.316666666666606px;max-width:300px;}
#pu46327-4{z-index:142;width:100%;}
#u46327-4{z-index:142;width:75px;min-height:8px;background-color:transparent;line-height:14px;color:#22B573;font-size:12px;font-weight:bold;position:relative;margin-right:-10000px;margin-left:50%;left:-130px;}
#u46329-4{z-index:150;width:53px;min-height:8px;background-color:transparent;line-height:14px;color:#22B573;font-size:12px;font-weight:bold;position:relative;margin-right:-10000px;margin-left:50%;left:-26px;}
#u46328-4{z-index:146;width:95px;min-height:8px;background-color:transparent;line-height:14px;color:#22B573;font-size:12px;font-weight:bold;position:relative;margin-right:-10000px;margin-left:50%;left:48px;}
#pu42789-6{z-index:70;margin-top:14px;width:100%;}
#u42789-6{z-index:70;width:190px;min-height:26px;background-color:transparent;color:#000000;font-size:14px;text-align:left;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-weight:bold;position:relative;margin-right:-10000px;margin-top:18px;margin-left:50%;left:-95px;}
#u42790-4{z-index:76;width:189px;min-height:27px;background-color:transparent;font-size:10px;line-height:12px;color:#29ABE2;position:relative;margin-right:-10000px;margin-left:50%;left:-94px;}
#menuu42816{z-index:80;width:197px;border-width:0px;border-color:transparent;background-color:transparent;margin-top:11px;position:relative;margin-left:50%;left:-98px;}
#u42817{width:197px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u42820{width:197px;background-color:#29ABE2;padding-bottom:28px;position:relative;}
#u42820:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:197px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u42820:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:197px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u42820.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:197px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u42823-4{width:168px;min-height:22px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:14px;left:14px;}
#u42820:hover #u42823-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:168px;margin:0px -10000px 0px 0px;}
#u42820:active #u42823-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:168px;margin:0px -10000px 0px 0px;}
#u42820.MuseMenuActive #u42823-4{padding-top:0px;padding-bottom:0px;min-height:22px;width:168px;margin:0px -10000px 0px 0px;}
#u42820:hover #u42823-4 p{color:#FFFFFF;visibility:inherit;}
#u42820:active #u42823-4 p{color:#FFFFFF;visibility:inherit;}
#pu3082{z-index:2;margin-top:634px;width:100%;}
#u3082{min-height:2500.775000000002px;padding-bottom:0px;}
#u3082_align_to_page{max-width:299px;}
#u3082_position_content{padding-top:4px;padding-bottom:31px;}
#pbuttonu49495{z-index:159;width:100.34%;}
#buttonu49495{z-index:159;width:250px;margin-left:50%;left:-151px;}
#buttonu49495:hover{width:250px;margin-left:50%;left:-151px;}
#u49496-4{z-index:160;width:178px;left:2.81%;}
#buttonu49495:hover #u49496-4{width:178px;}
#menuu43613{z-index:87;width:50px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:100px;}
#u43615{width:50px;background-color:#7ECCED;background-color:rgba(41,171,226,0.6);padding-bottom:14px;position:relative;-pie-background:rgba(41,171,226,0.6);}
#u43615:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u43615:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u43615.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:50px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u43616-5{width:20px;min-height:36px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:7px;left:15px;}
#u43615:hover #u43616-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43615:active #u43616-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u42820.MuseMenuActive #u42823-4 p,#u43615:hover #u43616-5 p,#u43615:hover #u43616-5 span,#u43615:active #u43616-5 p,#u43615:active #u43616-5 span,#u43615.MuseMenuActive #u43616-5 p,#u43615.MuseMenuActive #u43616-5 span{color:#FFFFFF;visibility:inherit;}
#u35080{z-index:30;width:299px;margin-top:17px;margin-left:50%;left:-151px;}
#u35081{z-index:31;width:299px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:150px;padding-bottom:6px;margin-left:50%;left:-150px;}
#u35081:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:299px;margin-left:50%;left:-150px;}
#u35082-4{z-index:32;width:273px;margin-left:50%;left:-135px;}
#u35083-4{z-index:36;width:273px;margin-left:50%;left:-135px;}
#u35084-5{z-index:40;width:273px;margin-left:50%;left:-135px;}
#u35085-4{z-index:45;width:273px;margin-left:50%;left:-134px;}
#pbuttonu49421{z-index:154;margin-top:20px;width:100.34%;}
#buttonu49421{z-index:154;width:250px;padding-bottom:11px;margin-left:50%;left:-151px;}
#buttonu49495.ButtonSelected,#buttonu49421:hover{width:250px;margin-left:50%;left:-151px;}
#u49422-4{z-index:155;width:243px;margin-top:16px;left:2.81%;}
#buttonu49421:hover #u49422-4{margin-top:16px;width:243px;}
#buttonu49421.ButtonSelected #u49422-4{margin-top:16px;width:243px;}
#menuu43696{z-index:95;width:50px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:100px;}
#u43698{width:50px;background-color:#72CCA5;padding-bottom:14px;position:relative;}
#u43698:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u43698:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u43698.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:50px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u43701-5{width:20px;min-height:36px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:7px;left:15px;}
#u43615.MuseMenuActive #u43616-5,#u43698:hover #u43701-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43698:active #u43701-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43698:hover #u43701-5 p,#u43698:hover #u43701-5 span,#u43698:active #u43701-5 p,#u43698:active #u43701-5 span,#u43698.MuseMenuActive #u43701-5 p,#u43698.MuseMenuActive #u43701-5 span{color:#FFFFFF;visibility:inherit;}
#u33352{z-index:49;width:298px;margin-top:20px;margin-left:50%;left:-150px;}
#u35165{z-index:50;width:298px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:115px;padding-bottom:24.499999999998863px;margin-left:50%;left:-150px;}
#u35165:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:298px;margin-left:50%;left:-150px;}
#u35171-4{z-index:51;width:273px;margin-left:50%;left:-138px;}
#u35172-4{z-index:55;width:273px;margin-top:2px;margin-left:50%;left:-138px;}
#u35298-4{z-index:59;width:273px;margin-top:11px;margin-left:50%;left:-138px;}
#u35299-4{z-index:63;width:273px;margin-top:21px;margin-left:50%;left:-137px;}
#pbuttonu49516{z-index:164;margin-top:20px;width:100.34%;}
#buttonu49516{z-index:164;width:250px;margin-left:50%;left:-151px;}
#buttonu49421.ButtonSelected,#buttonu49516:hover{width:250px;margin-left:50%;left:-151px;}
#buttonu49516:active{width:250px;margin-left:50%;left:-151px;}
#buttonu49516.ButtonSelected{width:250px;margin-left:50%;left:-151px;}
#u49517-4{z-index:165;width:178px;left:2.81%;}
#buttonu49495.ButtonSelected #u49496-4,#buttonu49516:hover #u49517-4{width:178px;}
#buttonu49516:active #u49517-4{width:178px;}
#buttonu49516.ButtonSelected #u49517-4{width:178px;}
#menuu43857{z-index:103;width:50px;border-width:0px;border-color:transparent;background-color:#D6DCE6;position:relative;margin-right:-10000px;margin-left:50%;left:100px;}
#u43614,#u43697,#u43858{width:50px;min-height:50px;background-color:transparent;position:relative;margin-right:-10000px;}
#u43859{width:50px;background-color:#F7931E;padding-bottom:14px;position:relative;}
#u43859:hover{background-color:#8B9D9F;background-color:rgba(110,133,135,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(110,133,135,0.8);}
#u43859:active{background-color:#888888;background-color:rgba(107,107,107,0.8);width:50px;min-height:0px;margin:0px;-pie-background:rgba(107,107,107,0.8);}
#u43859.MuseMenuActive{background-color:#4C9573;background-color:rgba(0,104,55,0.7);width:50px;min-height:0px;margin:0px;-pie-background:rgba(0,104,55,0.7);}
#u43862-5{width:20px;min-height:36px;border-width:0px;border-color:transparent;background-color:transparent;line-height:22px;color:#FFFFFF;font-size:18px;text-align:center;position:relative;margin-right:-10000px;top:7px;left:15px;}
#u43698.MuseMenuActive #u43701-5,#u43859:hover #u43862-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43859:active #u43862-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43859.MuseMenuActive #u43862-5{padding-top:0px;padding-bottom:0px;min-height:36px;width:20px;margin:0px -10000px 0px 0px;}
#u43859:hover #u43862-5 p,#u43859:hover #u43862-5 span,#u43859:active #u43862-5 p,#u43859:active #u43862-5 span,#u43859.MuseMenuActive #u43862-5 p,#u43859.MuseMenuActive #u43862-5 span{color:#FFFFFF;visibility:inherit;}
#u43616-3,#u43701-3,#u43862-3{line-height:0px;}
#u43616,#u43701,#u43862{font-size:30px;line-height:36px;}
#u43616-2,#u43701-2,#u43862-2{line-height:22px;}
#u35786{z-index:67;width:298px;margin-top:20px;margin-left:50%;left:-150px;}
#u35789{z-index:68;width:298px;background-color:#7F7F7F;background-color:rgba(0,0,0,0.5);padding-top:101px;padding-bottom:11.02499999999938px;margin-left:50%;left:-150px;}
#u35789:hover{background-color:#E5E5E5;background-color:rgba(0,0,0,0.1);width:298px;margin-left:50%;left:-150px;}
#u43996-4{z-index:111;width:272px;min-height:18px;background-color:transparent;color:#FCEE21;position:relative;margin-left:50%;left:-138px;}
#u43997-6{z-index:115;width:272px;min-height:42px;background-color:transparent;color:#FCEE21;margin-top:7px;position:relative;margin-left:50%;left:-137px;}
#u43997-2{font-size:12px;line-height:14px;}
#u43997-4{font-size:18px;line-height:22px;font-weight:bold;}
#u35925{z-index:69;width:122px;margin-top:21px;margin-left:50%;left:-138px;}
#u42287{width:298px;margin-top:943px;margin-left:50%;left:-150px;}
#u26976{width:298px;padding-bottom:64px;margin-left:50%;left:-149px;}
#u27949-6{min-height:131px;margin-top:55px;margin-left:50%;left:-122px;}
#u22510{margin-top:20px;margin-left:50%;left:-150px;}
#u3082-bw{min-height:2500.775000000002px;margin-bottom:-1px;}
#u24759{min-height:55px;padding-bottom:5px;}
#u25393-4{width:292px;min-height:33px;margin-top:3px;margin-left:50%;left:-147px;}
#u25393-4:hover{margin-top:3px;min-height:33px;width:292px;margin-left:50%;left:-147px;}
#u24759-bw{z-index:24;min-height:55px;margin-top:1026px;}
#u25396{min-height:802px;padding-bottom:33px;}
#u24759_align_to_page,#u25396_align_to_page{margin-left:auto;margin-right:auto;position:relative;max-width:300px;}
#u45178-21{z-index:121;width:260px;min-height:434px;margin-top:10px;margin-left:50%;left:-131px;}
#u25396-bw{z-index:29;min-height:802px;margin-top:1090px;}
.css_verticalspacer .verticalspacer{height:calc(100vh - 3344px);}
#u50607-4{width:260px;min-height:17px;margin-top:4px;margin-left:50%;left:-130px;}
#u50607-4:hover{margin-right:0px;margin-top:4px;min-height:17px;width:260px;margin-left:50%;left:-130px;}
#u50613-4{width:260px;min-height:17px;margin-top:3px;margin-left:50%;left:-130px;}
#u50625-4{width:260px;min-height:17px;margin-top:3px;margin-left:50%;left:-130px;}
#u50613-4:hover,#u50625-4:hover{margin-right:0px;margin-top:3px;min-height:17px;width:260px;margin-left:50%;left:-130px;}
body{overflow-x:hidden;min-width:200px;}
}
.stroyki_main_item{margin-top: 22px;}