@color-grey: #cdc9c9;
@color-red: red;
@color-yellow: #ff9731;
@color-green: #00a65a;
@color-aqua: #00c0ef;
@font-big: 19px;
@font-big-x: 22px;
@font-middle: 17px;
@font-middle-x: 14px;
@font-small: 12px;
@font-small-x: 10px;

.row{
  margin-right: 0px;
}
body {
  font-family: PTSansRegular;
  background-color: #ecf0f1;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-12{

}
.container-fluid{
  margin-left: 0px;
  margin-right: 0px;
}
.container{
  //width: 940px;
  padding-left: 0px !important;
}
.content{
  background-color: #ecf0f1;
}
.color-red{
  color: red;
}
.color-white{
  color: white;
}
.color-yellow{
  color: #ff9731;
}
.color-grey{
  color: #cdc9c9;
}
.color-grey2{
  color: #777;
}
.color-green{
  color: @color-green !important;
}
.text-green {
  color: @color-green !important;
}
.text-aqua {
  color: @color-aqua !important;
}
.text-bold{
  font-weight: bold;
}
.text-big{
  font-size: @font-big;
}
.text-middle{
  font-size: @font-middle;
}
.text-middle-x{
  font-size: @font-middle-x;
}
.fa-star-o{
  font-size: 17px;
}
.fa-eye{
  font-size: 17px;
}
.bg-red{
  background-color: @color-red;
}
.bg-green{
  background-color: @color-green;
}

#menu-toggle{
  position: absolute;
  right: 0%;
  top: 0%;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
#name-site{
  background-color: white;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  #menu-close{
    padding: 0px 2px 2px;
  }
}
.jumbotron {
  border-radius: 0px !important;
  position: relative;
  //background: #000 url("/image/header.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  top: -20px;
  margin-bottom: -15px;
}

.box {
  border-top: 0 none;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  width: 100%;
  float: left;
  .box-header {
    border-bottom: 1px solid #f4f4f4;
    color: #444;
    display: block;
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
  }
  .box-body {
    border-radius: 0 0 3px 3px;
    padding: 10px;
    padding-top: 0px;
  }
  .box-footer {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
  }
  .info-item{
    margin: 10px;
    span{
      font-size: @font-big;
    }
  }
}
.box-banner{
  margin-bottom: 20px;
  position: relative;
  top: 10px;
  width: 100%;
  img{
    width: 100%;
  }
}
.box-body-banner{
  margin-top: 11px;
}
#menu-top{
  background-color: #434343;
  margin-left: 0px;
  margin-right: 0px;
  //div:first-child{
  //  padding-left:0px;
  //}
  //div:last-child{
  //  padding-right:0px;
  //}
  .select2{
    .select2-selection__placeholder{
      color: #f7931e ;
      font-family: Arial,Helvetica Neue,Helvetica,sans-serif ;
      font-size: 12px ;
      letter-spacing: 1px ;
    }
    .select2-selection{
      background-color: #434343;
      border: 1px solid #434343;
      padding-left: 0px !important;
    }
    .select2-selection__arrow{
      border: 1px solid #434343;
      b{
        border-color: #434343 transparent transparent;
      }
    }
    .select2-selection__rendered{
      color: #f7931e;
      .select2-selection__clear{
        color: #f7931e;
      }
    }
  }
}
#logo{
  margin-bottom: 0px;
  a{
    color: red;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  :hover, :active{
    text-decoration: none;
  }
}
#site-name{
  color: #827C7C;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: xx-large;
  p{
    margin-bottom:0px;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif
  }
}
#cabinet-header{
  color: white;
}
#banners{
  .row{
    > div{
      margin-bottom: 20px;
      text-align: center;
      padding-left: 9px;
      padding-right: 9px;
    }
  }
}
#banners1{
  .row{
    > div{
      margin-bottom: 20px;
      text-align: center;
    }
  }
  img{
    width: 300px;
    height: 250px;
    margin: 0 auto;
  }
}

#menu-min{
  ul{
    width: 100%;
    padding-left: 0px;
    display: inline-flex;
    li{
      width: 20%;
      list-style: none;
    }
  }
}
#breadcrumb{
  .row{
    margin-left: -8px;
    margin-right: 0px;
    >div{
      padding-left: 0px;
    }
  }
  .breadcrumb {
    background: transparent none repeat scroll 0 0;
    border-radius: 2px;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 7px 20px;
    padding-left: 0px;
    padding-top: 0px;
    >li{
      +li::before{
        color: #000000;
      }
    }
    span{
      font-size: @font-middle-x;
      font-weight: bold;
    }
  }
}
#breadcrumb-in-object{
  .breadcrumb{
    background: transparent none repeat scroll 0 0;
    font-size: 16px;
  }
}
#map{
  .row{
    margin-top: 20px;
  }
  #map-min{
    background:transparent url("/image/map.jpg") no-repeat scroll left top;
    border-color: #534741;
    border-style: solid;
    border-width: 1px;
    height: 80px;
    padding-top: 15px;
    text-align: center;
  }
  #map-search{
    background-color: #a3b1b2 !important;
    border-radius: 0px !important;
  }
}

#objects-preview{
  margin-top: 23px;
  .box {
    top: 0px;
    height: 437px;
    .box-header{
      border-bottom: none !important;
    }
    .box-body {
      .text1{
        line-height: 9px;
        padding-top: 10px;
        padding-bottom: 5px;
        height: 80px;
      }
      .text2{
        line-height: 9px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 75px;
        p{
          color: @color-grey;
          font-size: @font-small;
        }
      }
      .text3{
        height: 20px;
        p{
          color: @color-grey;
          font-size: @font-small-x;
        }
      }
      .text4{
        height: 10px;
        margin-bottom: 20px;
        i{
          color: @color-grey;
          font-size: @font-small-x;
        }
      }
    }
  }
  #paginate{
    .pagination{
      margin-left: 15px;
      li.active{
        a{
          background-color: #d2494a !important;
          border-color: #d2494a !important;
          color: #ffffff;
        }
      }
      a{
        color: #d2494a;
      }
    }
  }
}
#banner-right{
  padding-left: 10px;
  img{
    margin-top: 20px;
    width: 370px;
    height: 255px;
  }
}
#object-info{
  padding-left: 0px;
  h2{
    color: #00acd6;
    margin-bottom: 20px;
    font-family: Verdana Tahoma;
    margin-bottom: 20px;
  }
  .text-muted{
    color: #8b8989;
    font-family: Tahoma;
  }
  .text-green{
    font-family: Tahoma;
  }
  .box{
    .box-footer{
      background-color: #fbf8f8;
      .stat{
        font-size: 13px;
      }
      .text-muted{
        color: #bdbdbd;
      }
      .text-aqua{
        color: #3a59e5;
      }
    }
  }
}

#object-desc{
  .box-header{
    h2{
      font-family: Verdana Tahoma;
      color: #7F7F7F;
      margin-left: 8px;
      margin-bottom: 20px;
    }
  }
  .box-body{
    p{
      color: #7F7F7F;
      font-size: @font-big;
      margin-top: 11px;
      margin-left: 8px;
    }
  }
}
#object-on-map{
  .box-header{
    h2{
      margin-bottom: 20px;
      font-family: Verdana Tahoma;
      color: #7F7F7F;
      margin-left: 8px;
    }
  }
  .box-body{
    p{
      color: #7F7F7F;
      margin-top: 11px;
      margin-left: 8px;
      img{
        height: 500px;
        width: 100%;
      }
    }
  }
}
#object-link-items{
  .box-header{
    h2{
      font-family: Verdana Tahoma;
      color: #7F7F7F;
      margin-bottom: 20px;
      margin-left: 8px;
    }
  }
  .box-body{
    span{
      font-family: Verdana Tahoma;
      color: #7F7F7F;
      margin-top: 11px;
      margin-left: 8px;
      font-size: 20px;
    }
    .table-striped {
      > tbody {
        > tr:nth-of-type(2n+1) {
          background-color: #FFFFFF !important;
        }
      }
    }
    td{
      padding-top: 15px;
    }

  }
}
#object-calculation{
  .box-header{
    h2{
      margin-bottom: 20px;
      font-family: Verdana Tahoma;
      color: #7F7F7F;
      margin-left: 8px;
    }
  }
  .box-body{
    span{
      margin-top: 11px;
      margin-left: 8px;
      font-size: @font-middle;
    }
    .table{
      td{
        border-top: 0px solid #ddd !important;
        span{
          color: #7F7F7F;
        }
      }
    }
    .form-control{
      border-radius: 0px;
      height: 60px;
      background-color: #ECF0F1;
      border: 0 solid #ccc;
      padding-left: 67px;
      font-size: 22px;
    }
  }
}
#object-docs{
  .box-header{
    h2{
      margin-bottom: 20px;
      font-family: Verdana Tahoma;
      color: #7F7F7F;
      margin-left: 8px;
    }
  }
  .box-body{
    span{
      margin-top: 11px;
      margin-left: 8px;
      color: #7F7F7F;
      font-family: Verdana Tahoma;
      font-size: 20px;
    }
  }
}
#contact-owner{
  .box-header{
    h2{
      margin-bottom: 20px;
      color: #7F7F7F;
      margin-left: 8px;
      font-family: Verdana Tahoma;
    }
  }
  .box-body{
    background-color: #F7F7FA;
    .info-item{
      margin-top: 20px;
    }
    .text-muted{
      color: #7F7F7F;
      font-family: Verdana Tahoma;
      font-size: 20px;
    }
    .text-aqua{
      color: #29ABE2;
      font-family: Verdana Tahoma;
      font-size: 20px;
    }
    img{
      margin-top: 14px;
      margin-left: 6px;
      margin-bottom: 6px;
    }
    span, a{
      margin-top: 11px;
      margin-left: 8px;
      font-size: @font-middle;
    }
  }
}
#object-other{
  .box-header{
    border-bottom: 0px solid #f4f4f4;
    h2{
      margin-bottom: 20px;
      color: #7F7F7F;
      margin-left: 8px;
      font-family: Verdana Tahoma;
    }
  }
  .box-body{
    margin-top: -15px;
    .img-thumbnail{
      border-radius: 0px;
      width: 93%;
      margin-left: 10px;
    }
    p{
      margin-left: 13px;
      font-size: @font-middle;
    }
    .text-muted{
      font-size: 20px;
      font-family: Verdana Tahoma;
      color: #7F7F7F;
    }
    .text-aqua{
      font-size: 20px;
      font-family: Verdana Tahoma;
      color: #29ABE2;
    }
  }
}
#object-other-town{
  img{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
#btn-all-objects{
  button{
    margin-top: 50px;
    margin-bottom: 50px;
    span{
      font-size: @font-big-x;
      font-weight: bold;
    }
  }
}
#object-list{
  margin-top: 33px;
  img{
    padding: 0px;
  }
  .img-thumbnail{
    border-radius: 0px !important;
  }
  .well{
    padding: 10px 10px 0px;
    padding-top: 20px;
  }
  .box{
    padding-bottom: 0px;
    margin-bottom: 20px;
    top: 0px;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    .box-header{
      padding: 0px;
      border-bottom: none !important;
      h2{
        margin-left: 8px;
      }
      .col-xs-12{
        padding-right: 0px;
      }
    }
    .box-body{
      margin-top: 0px;
      margin-bottom: 0px;
      .row{
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
      p{
        margin: 0px;
        margin-left: 13px;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        font-size: 18px;
        color: #7F7F7F;
        &:first-child{
          font-size: 25px;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        span{
          margin-left: 5px;
          margin-right: 7px;
          margin-top: 15px;
        }
      }
      h2{
        margin-top: 15px;
        margin-left: 10px;
        color: #7F7F7F;
      }
    }
  }
  #company{
    .box{
      .box-header{
        border-bottom: 1px solid #f4f4f4 !important;
        h2{
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }
      .box-body{
        p{
          font-size: 19px !important;
        }
      }
    }
  }
  #user-address{
    .box{
      .box-header{
        border-bottom: 1px solid #f4f4f4 !important;
        h2{
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
#search-form{
  background-color: #fbfbfb;
  -moz-box-shadow:inset 0px 0px 7px #C8C8C8;
  -webkit-box-shadow:inset 0px 0px 7px #C8C8C8;
  box-shadow:inset 0px 0px 7px #C8C8C8;
  button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .text-middle{
    font-size:14px;
    margin-bottom: 5px;
  }
  .select2-selection{
    border: 1px solid #D6DCE6;
    border-radius: 0px;
  }
  .form-control{
    border: 1px solid #D6DCE6 !important;
    border-radius: 0px !important;
  }
  .input-group-addon{
    border-radius: 1px;
  }
  .btn-group{
    .btn{
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #D6DCE6 !important;
      border-radius: 1px !important;
    }
  }
  #objectsearch-start_area{
    width: 60px !important;
  }
  #objectsearch-end_area{
    width: 59px !important;
  }
  #objectsearch-start_price{
    width: 94px !important;
  }
  #objectsearch-end_price{
    width: 94px !important;
  }
  .input-group-btn {
    .btn {
      padding-left: 25px;
      padding-right: 25px;
      border: 1px solid #D6DCE6 !important;
      border-radius: 1px !important;
    }
  }
}
#search-panel{
  margin: 10px 0px 15px;
  .form-inline{
    text-align: center;
  }
}

#search-result-objects{
  .box{
    margin-bottom: 0px;
    border: 1px solid #cdc9c9;
    border-radius: 0px;
    top: 0px;
    height: 162px;
    h3{
      margin-top: 7px;
    }
    .subscription{
      position: absolute;
      z-index:1;
      right:0%;
    }
    .col-lg-7{
      width: 63%;
      padding-left: 0px ;
      padding-right: 0px;
    }
    .box-header{
      >div{
        margin-bottom:5px;
        margin-top:-5px;
        padding-left:0px;
        margin-left:-5px;
      }
      .col-lg-5 {
        width: 37.667%;
      }
      border-bottom: none !important;
      .img-thumbnail{
        border-radius: 0px;
      }
      .vip{
        position:absolute;
        z-index:1;
        bottom:0;
        left:-10px !important;
      }
    }
    &:hover{
      border: 1px solid #ff9016;
    }
  }
  .banner{
    width:300px;
    height:250px;
  }
}
#banner-big{
  >div{
    margin-bottom:8px;
    padding-left:0px;
    padding-right:0px;
  }
}
#search-map{
  .list-view{
    padding-right: 2px;
    padding-left: 25px;
  }
  #search-result-objects-min{
    top:0px;
    left: 7px;
    padding-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 900px;
    .box{
      margin-bottom: 5px;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      top: 0px;
      &:hover{
        border: 1px solid #ff9016;
      }
      .box-header{
        padding: 0px;
        border-bottom: 0px solid #f4f4f4;
        left: 6px;
        >div{
          padding-left:0px;
          padding-right:0px;
        }
        .img-thumbnail{
          border-radius: 0;
        }
      }
      .box-body{
        padding: 0px;
        position: relative;
        >div{
          top:3px;
          left:-4px;
        }
        .marker{
          position: absolute;
          z-index: 1;
          right: 0px;
          top: -12px;
        }
        span{
          p{
            color: black !important;
          }
        }
      }
      .col-lg-4{
        padding-right: 5px;
        padding-left: 0px;
      }
      .col-lg-7{
        padding-right: 0px;
        padding-left: 10px;
        p{
          text-decoration: none;
          font-size: medium;
          color: black;
        }
      }
    }
    p{
      margin-bottom: 0px !important;
    }
  }
}




