@font-face{font-family:"PTSansRegular";src:url("/fonts/PTSansRegular/PTSansRegular.eot");src:url("/fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
url("/fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
url("/fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");font-style:normal;font-weight:normal}@font-face{font-family:"PTSansBold";src:url("/fonts/PTSansBold/PTSansBold.eot");src:url("/fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
url("/fonts/PTSansBold/PTSansBold.woff") format("woff"),
url("/fonts/PTSansBold/PTSansBold.ttf") format("truetype");font-style:normal;font-weight:normal}body{font-family:PTSansRegular;background-color:#ecf0f1}.container-fluid{padding-left:0px;padding-right:0px;margin-left:-15px;margin-right:-15px}.container-fluid{margin-left:0px;margin-right:0px}.content{background-color:#ecf0f1}.color-red{color:red}.color-white{color:white}.color-yellow{color:#ff9731}.color-grey{color:#cdc9c9}.color-grey2{color:#777}.color-green{color:#00a65a !important}.text-green{color:#00a65a !important}.text-aqua{color:#00c0ef !important}.text-bold{font-weight:bold}.text-big{font-size:19px}.text-middle{font-size:17px}.text-middle-x{font-size:14px}.fa-star-o{font-size:17px}.fa-eye{font-size:17px}.bg-red{background-color:red}.bg-green{background-color:#00a65a}#menu-toggle{position:absolute;right:0%;top:0%;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;margin-top:0px;margin-right:0px}#name-site{background-color:white;margin-bottom:0px;margin-left:0px;margin-right:0px;padding-top:13px;padding-bottom:13px}#name-site #menu-close{padding:0px
2px 2px}.jumbotron{border-radius:0px !important;position:relative;width:100%;height:100%;background-size:cover;overflow:hidden;top:-20px;margin-bottom:-15px}.box{border-top:0 none;background:#fff none repeat scroll 0 0;border-radius:3px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);margin-bottom:20px;position:relative;top:20px;width:100%;float:left}.box .box-header{border-bottom:1px solid #f4f4f4;color:#444;display:block;padding:10px;padding-bottom:0px;position:relative}.box .box-body{border-radius:0 0 3px 3px;padding:10px;padding-top:0px}
.box .box-footer{
    background-color:#fff;
    border-radius:0 0 3px 3px;
    border-top:1px solid #f4f4f4;
    padding-top: 10px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
    background-color: #F7F7FA;
}
.box .info-item span{
    line-height: 14px;
    font-size: 12px;
    color: #C6C6C6;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.box-banner{margin-bottom:20px;position:relative;top:10px;width:100%}.box-banner
img{width:100%}.box-body-banner{margin-top:11px}#menu-top{background-color:#434343;margin-left:0px;margin-right:0px}#menu-top .select2 .select2-selection__placeholder{color:#f7931e;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:12px;letter-spacing:1px }#menu-top .select2 .select2-selection{background-color:#434343;border:1px
solid #434343;padding-left:0px !important}#menu-top .select2 .select2-selection__arrow{border:1px
solid #434343}#menu-top .select2 .select2-selection__arrow
b{border-color:#434343 transparent transparent}#menu-top .select2 .select2-selection__rendered{color:#f7931e}#menu-top .select2 .select2-selection__rendered .select2-selection__clear{color:#f7931e}#logo{margin-bottom:0px}#logo
a{color:red;display:block;font-size:xx-large;font-weight:bold;text-transform:uppercase;letter-spacing:-1px}#logo :hover,
#logo :active{text-decoration:none}#site-name{color:#827C7C;letter-spacing:1px;text-transform:uppercase;font-size:xx-large}#site-name
p{margin-bottom:0px;font-family:'Microsoft Sans Serif',Tahoma,Arial,Verdana,Sans-Serif}#cabinet-header{color:white}#banners .row>div{margin-bottom:20px;text-align:center;padding-left:9px;padding-right:9px}#banners1 .row>div{margin-bottom:20px;text-align:center}#banners1
img{width:300px;height:250px;margin:0
auto}#menu-min
ul{width:100%;padding-left:0px;display:inline-flex}#menu-min ul
li{width:20%;list-style:none}#breadcrumb
.row{margin-left:-8px;margin-right:0px}#breadcrumb .row>div{padding-left:0px}#breadcrumb
.breadcrumb{background:transparent none repeat scroll 0 0;border-radius:2px;font-size:12px;margin-bottom:0;margin-top:0;padding:7px
20px;padding-left:0px;padding-top:0px}#breadcrumb .breadcrumb>li+li::before{color:#000}#breadcrumb .breadcrumb
span{font-size:14px;font-weight:bold}#breadcrumb-in-object
.breadcrumb{background:transparent none repeat scroll 0 0;font-size:16px}#map
.row{margin-top:20px}#map #map-min{background:transparent url("/image/map.jpg") no-repeat scroll left top;border-color:#534741;border-style:solid;border-width:1px;height:80px;padding-top:15px;text-align:center}#map #map-search{background-color:#a3b1b2 !important;border-radius:0px !important}#objects-preview{margin-top:23px}#objects-preview
.box{top:0px;height:437px}#objects-preview .box .box-header{border-bottom:none !important}#objects-preview .box .box-body
.text1{line-height:9px;padding-top:10px;padding-bottom:5px;height:80px}#objects-preview .box .box-body
.text2{line-height:9px;padding-top:10px;padding-bottom:10px;height:75px}#objects-preview .box .box-body .text2
p{color:#cdc9c9;font-size:12px}#objects-preview .box .box-body
.text3{height:20px}#objects-preview .box .box-body .text3
p{color:#cdc9c9;font-size:10px}#objects-preview .box .box-body
.text4{height:10px;margin-bottom:20px}#objects-preview .box .box-body .text4
i{color:#cdc9c9;font-size:10px}#objects-preview #paginate
.pagination{margin-left:15px}#objects-preview #paginate .pagination li.active
a{background-color:#d2494a !important;border-color:#d2494a !important;color:#fff}#objects-preview #paginate .pagination
a{color:#d2494a}#banner-right{padding-left:10px}#banner-right
img{margin-top:20px;width:370px;height:255px}
#object-info h2 {
    color:#00acd6;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 20px;
}
#object-info .text-muted{color:#8b8989;font-family:Tahoma}#object-info .text-green{font-family:Tahoma}#object-info .box .box-footer{background-color:#fbf8f8}#object-info .box .box-footer
.stat{font-size:13px}#object-info .box .box-footer .text-muted{color:#bdbdbd}#object-info .box .box-footer .text-aqua{color:#3a59e5}#object-desc .box-header
h2{font-family:Verdana Tahoma;color:#7F7F7F;margin-left:8px;margin-bottom:20px}#object-desc .box-body
p{color:#7F7F7F;font-size:19px;margin-top:11px;margin-left:8px}#object-on-map .box-header
h2{margin-bottom:20px;font-family:Verdana Tahoma;color:#7F7F7F;margin-left:8px}#object-on-map .box-body
p{color:#7F7F7F;margin-top:11px;margin-left:8px}#object-on-map .box-body p
img{height:500px;width:100%}#object-link-items .box-header
h2{font-family:Verdana Tahoma;color:#7F7F7F;margin-bottom:20px;margin-left:8px}#object-link-items .box-body
span{font-family:Verdana Tahoma;color:#7F7F7F;margin-top:11px;margin-left:8px;font-size:20px}#object-link-items .box-body .table-striped>tbody>tr:nth-of-type(2n+1){background-color:#FFF !important}#object-link-items .box-body
td{padding-top:15px}
#object-calculation .box-header h2 {
    color: #7F7F7F;
    position: relative;
    font-weight: bold;
    line-height: 35px;
    font-size: 24px;
    min-height: 35px;
}
#object-calculation .box-body
span{margin-top:11px;margin-left:8px;font-size:17px}#object-calculation .box-body .table
td{border-top:0px solid #ddd !important}#object-calculation .box-body .table td
span{color:#7F7F7F}#object-calculation .box-body .form-control{border-radius:0px;height:60px;background-color:#ECF0F1;border:0
solid #ccc;padding-left:67px;font-size:22px}#object-docs .box-header
h2{margin-bottom:20px;font-family:Verdana Tahoma;color:#7F7F7F;margin-left:8px}#object-docs .box-body
span{margin-top:11px;margin-left:8px;color:#7F7F7F;font-family:Verdana Tahoma;font-size:20px}#contact-owner .box-header
h2{margin-bottom:20px;color:#7F7F7F;margin-left:8px;font-family:Verdana Tahoma}#contact-owner .box-body{background-color:#F7F7FA}#contact-owner .box-body .info-item{margin-top:20px}#contact-owner .box-body .text-muted{color:#7F7F7F;font-family:Verdana Tahoma;font-size:20px}#contact-owner .box-body .text-aqua{color:#29ABE2;font-family:Verdana Tahoma;font-size:20px}#contact-owner .box-body
img{margin-top:14px;margin-left:6px;margin-bottom:6px}#contact-owner .box-body span,
#contact-owner .box-body
a{margin-top:11px;margin-left:8px;font-size:17px}#object-other .box-header{border-bottom:0px solid #f4f4f4}#object-other .box-header
h2{margin-bottom:20px;color:#7F7F7F;margin-left:8px;font-family:Verdana Tahoma}#object-other .box-body{margin-top:-15px}#object-other .box-body .img-thumbnail{border-radius:0px;width:93%;margin-left:10px}#object-other .box-body
p{margin-left:13px;font-size:17px}#object-other .box-body .text-muted{font-size:20px;font-family:Verdana Tahoma;color:#7F7F7F}#object-other .box-body .text-aqua{font-size:20px;font-family:Verdana Tahoma;color:#29ABE2}#object-other-town
img{margin-top:10px;margin-bottom:10px}#btn-all-objects
button{margin-top:50px;margin-bottom:50px}#btn-all-objects button
span{font-size:22px;font-weight:bold}#object-list{margin-top:33px}#object-list
img{padding:0px}#object-list .img-thumbnail{border-radius:0px !important}#object-list
.well{padding:10px
10px 0px;padding-top:20px}#object-list
.box{padding-bottom:0px;margin-bottom:20px;top:0px;border-radius:0px;box-shadow:0 0px 0px rgba(0, 0, 0, 0)}#object-list .box .box-header{padding:0px;border-bottom:none !important}#object-list .box .box-header
h2{margin-left:8px}#object-list .box .box-header .col-xs-12{padding-right:0px}#object-list .box .box-body{margin-top:0px;margin-bottom:0px}#object-list .box .box-body
.row{margin-bottom:0px;padding-bottom:0px}#object-list .box .box-body
p{margin:0px;margin-left:13px;font-family:Tahoma,Verdana,Arial,sans-serif;font-size:18px;color:#7F7F7F}#object-list .box .box-body p:first-child{font-size:25px;font-weight:500;margin-top:10px;margin-bottom:10px}#object-list .box .box-body p
span{margin-left:5px;margin-right:7px;margin-top:15px}#object-list .box .box-body
h2{margin-top:15px;margin-left:10px;color:#7F7F7F}#object-list #company .box .box-header{border-bottom:1px solid #f4f4f4 !important}#object-list #company .box .box-header
h2{margin-left:20px;margin-bottom:20px}#object-list #company .box .box-body
p{font-size:19px !important}#object-list #user-address .box .box-header{border-bottom:1px solid #f4f4f4 !important}#object-list #user-address .box .box-header
h2{margin-left:20px;margin-bottom:20px}#search-form{background-color:#fbfbfb;-moz-box-shadow:inset 0px 0px 7px #C8C8C8;-webkit-box-shadow:inset 0px 0px 7px #C8C8C8;box-shadow:inset 0px 0px 7px #C8C8C8}#search-form
button{text-transform:uppercase;font-weight:bold;letter-spacing:3px;padding-left:20px;padding-right:20px;border-radius:0px;margin-bottom:15px;margin-top:0px}#search-form .text-middle{font-size:14px;margin-bottom:5px}#search-form .select2-selection{border:1px
solid #D6DCE6;border-radius:0px}#search-form .form-control{border:1px
solid #D6DCE6 !important;border-radius:0px !important}#search-form .input-group-addon{border-radius:1px}#search-form .btn-group
.btn{padding-bottom:5px;padding-top:5px;padding-left:10px;padding-right:10px;border:1px
solid #D6DCE6 !important;border-radius:1px !important}#search-form #objectsearch-start_area{width:60px !important}#search-form #objectsearch-end_area{width:59px !important}#search-form #objectsearch-start_price{width:94px !important}#search-form #objectsearch-end_price{width:94px !important}#search-form .input-group-btn
.btn{padding-left:25px;padding-right:25px;border:1px
solid #D6DCE6 !important;border-radius:1px !important}#search-panel{margin:10px
0px 15px}#search-panel .form-inline{text-align:center}#search-result-objects
.box{margin-bottom:0px;border:1px
solid #cdc9c9;border-radius:0px;top:0px;height:162px}#search-result-objects .box
h3{margin-top:7px}#search-result-objects .box
.subscription{position:absolute;z-index:1;right:0%}#search-result-objects .box .col-lg-7{width:63%;padding-left:0px;padding-right:0px}#search-result-objects .box .box-header{border-bottom:none !important}#search-result-objects .box .box-header>div{margin-bottom:5px;margin-top:-5px;padding-left:0px;margin-left:-5px}#search-result-objects .box .box-header .col-lg-5{width:37.667%}#search-result-objects .box .box-header .img-thumbnail{border-radius:0px}#search-result-objects .box .box-header
.vip{position:absolute;z-index:1;bottom:0;left:-10px !important}#search-result-objects .box:hover{border:1px
solid #ff9016}#search-result-objects
.banner{width:300px;height:250px}#banner-big>div{margin-bottom:8px;padding-left:0px;padding-right:0px}#search-map .list-view{padding-right:2px;padding-left:25px}#search-map #search-result-objects-min{top:0px;left:7px;padding-right:0px;overflow-y:scroll;overflow-x:hidden;height:900px}#search-map #search-result-objects-min
.box{margin-bottom:5px;margin-top:0px;padding-top:10px;padding-bottom:10px;top:0px}#search-map #search-result-objects-min .box:hover{border:1px
solid #ff9016}#search-map #search-result-objects-min .box .box-header{padding:0px;border-bottom:0px solid #f4f4f4;left:6px}#search-map #search-result-objects-min .box .box-header>div{padding-left:0px;padding-right:0px}#search-map #search-result-objects-min .box .box-header .img-thumbnail{border-radius:0}#search-map #search-result-objects-min .box .box-body{padding:0px;position:relative}#search-map #search-result-objects-min .box .box-body>div{top:3px;left:-4px}#search-map #search-result-objects-min .box .box-body
.marker{position:absolute;z-index:1;right:0px;top:-12px}#search-map #search-result-objects-min .box .box-body span
p{color:black !important}#search-map #search-result-objects-min .box .col-lg-4{padding-right:5px;padding-left:0px}#search-map #search-result-objects-min .box .col-lg-7{padding-right:0px;padding-left:10px}#search-map #search-result-objects-min .box .col-lg-7
p{text-decoration:none;font-size:medium;color:black}#search-map #search-result-objects-min
p{margin-bottom:0px !important}@media only screen and (max-width: 1200px){#search-form
button{margin-left:8px}#search-result-objects-min .box .box-body>div{padding-left:17px}
#header
#title{margin-left:-22px}}@media only screen and (max-width: 992px){#objects-preview
.box{height:100%}#search-result-objects-min{left:17px;top:15px}#search-result-objects
.banner{width:100%;height:100%}#map
.find{margin-top:15px}#header #title div:last-child>div{margin-left:15px;margin-top:15px;margin-bottom:5px;float:none !important}.breadcrumb{margin-left:0px !important}}@media only screen and (max-width: 940px){#search-result-objects .col-lg-7{width:69% !important}#search-result-objects .box .box-header .col-lg-5{width:31.667% !important}#search-result-objects .box .box-header
.vip{left:-14px !important}#object-list
ul.pagination{margin-left:16px}}@media only screen and (max-width: 768px){#search-form
.container{margin-left:30px;margin-right:30px}#menu-min{margin-top:25px;margin-bottom:25px}#objects-preview{padding-left:34px;padding-right:29px}#objects-preview
.text4{margin-bottom:25px;margin-top:15px}#object-info{margin-left:13px}#object-desc{margin-left:13px}#object-on-map{margin-left:13px}#object-link-items{margin-left:13px}#object-calculation{margin-left:13px}#object-docs{margin-left:13px}#contact-owner{margin-left:13px}#object-other{margin-left:13px}#object-other-town{margin-left:13px}#btn-all-objects{margin-left:13px}#cabinet-header{margin-left:10px}#object-list{margin-left:10px}#object-list .box-body>div{margin-top:25px}#object-list .row .col-xs-12{padding-right:0px !important}#object-list
ul.pagination{margin-left:16px}.change-password-box{padding-left:15px}.change-avatar-box{padding-left:15px}.subscription-box{padding-left:15px}.profile-box{padding-left:15px}.reset-password-box{padding-left:15px}#request-password-reset-token{margin-left:20px}#profile{padding-left:15px}.title{padding-left:15px}footer #footer,
footer .footer-bottom{padding-left:15px}#ya-map{padding-left:15px}#menu-top{padding-left:15px}#menu-top
.container{margin-left:30px;margin-right:30px}#menu-top div:last-child{top:1px;padding-left:0px;float:none !important}#menu-top .col-xs-5>div{margin-top:0px !important;margin-bottom:0px !important}#search-result-objects-min{left:29px;top:15px;height:100% !important;overflow-y:hidden !important;overflow-x:hidden !important}#search-result-objects-min .list-view{margin-left:5px}#search-result-objects
.box{width:92%;height:100%;left:37px}#search-result-objects .box .col-lg-7{width:100% !important}#search-result-objects .box .box-body
div{margin-top:3px;margin-bottom:3px;padding-bottom:14px;padding-top:13px}#search-result-objects .box .box-header .col-lg-5{width:104% !important}#search-result-objects .box .box-header
.vip{width:100% !important;left:-15px !important}#search-result-objects #banner-big>div{left:20px}#header
#title{margin-left:30px}#header #title div:last-child
div{margin-top:20px !important;margin-left:15px}#header #site-name{margin-top:0px}#search-panel{margin-left:30px}#search-panel div:first-child{margin-bottom:10px;padding-left:0px}#search-panel .btn-group{margin-top:10px !important;left:0px !important}#banner-big{margin-left:20px}#banner-big .col-xs-12{width:95%}}@media only screen and (max-width: 720px){#banners .row>div{padding-left:60px}#banners1 .row>div{padding-left:25px}}@media only screen and (max-width: 480px){#btn-all-objects
span{font-size:15px !important}#search-form #objectsearch-start_price{width:80px !important}#search-form #objectsearch-end_price{width:100px !important}#search-result-objects .box .box-header .col-lg-5{width:105% !important}}@media only screen and (max-width: 425px){#search-result-objects .box .box-header .col-lg-5{width:106% !important}}@media only screen and (min-width: 480px){#banner-top
img{width:300px}}@media only screen and (min-width: 992px){#banner-top
img{width:370px}}@media only screen and (min-width: 1200px){#banner-top
img{width:370px}}
/*test*/
@media (min-width: 1px) {
#page {
    min-height: 93px;
}
}