*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
input {
	background: transparent;
	border: none;
}
a {
	color: #000;
}
a:hover {
	text-decoration: underline;
}
body {
	/*font-family: "ArialNarrowRegular", sans-serif;*/
	/*font-size: 18px;*/
	background-color: #ecf0f1;
	letter-spacing: 1.1px;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.breadcrumps {
	float: left;
	text-decoration: none;
}
.breadcrumps ul {
	list-style: none;
	padding: 0;
}
.breadcrumps ul li {
	display: inline-block;
	font-size: 14px;
}
.current-page {
	color: #3cb878;
}
.cities-header {
	background-color: #f7f7fa;
	margin-bottom: 2px;
}
.cities-header h3 {
	font-size: 18px;
}
input[type=text] {
	background-color: #fff;
	border: 1px solid #cfcfcf;
	margin-top: 12px;
	padding: 6px 30px;
	width: 89%;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cfcfcf;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cfcfcf;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cfcfcf;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cfcfcf;
}
input[type=submit] {
	background-color: #0abf83;
	color: #fff;
	padding: 7px 20px;
	margin-left: -5px;
}
.title-city-default {
	font-size: 18px;
	color: #f00;
}
.title-city-default-geo {
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.first-letter {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.cur-city {
	color: #00aeef;
}
.city-block {
	margin-top: 25px;
}
.cities {
	background-color: #fff;
	padding: 20px 0;
}
.form-type {
	width: 50%;
	background-color: #ebebeb;
	text-align: center;
	float: left;
	padding: 30px 0;
	cursor: pointer;
	font-size: 24px;
	margin-bottom: 50px;
}
.enabled {
	background-color: #fff;
}
.enter-form {
	background-color: #fff;
	width: 100%;
	padding-bottom: 35px;
}
.enter-form input {
	border: 1px solid #b4b4b4;
	border-radius: 2px;
	display: block;
	/*margin-bottom: 24px;*/
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 5px 15px;
	font-size: 18px;
}

.has-error .help-block {
	width: 80%;
	margin: 0 auto;
}

.my_checkbox {
	width: 20px;
	height: 20px;
	background-color: #f00;
}

.my_checkbox.checked {
	background-image: url(../images/checked.png);
	-webkit-background-size: 15px;
	background-size: 15px;
	background-position: center 2px;
}

.check label, .my_checkbox {
	float: left;
}

.check label .help-block {
	font-weight: normal;
	width: inherit;
}

input[type=checkbox] {
	display: none;
	width: auto;
}
input[type=checkbox] + label::before {
	content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    float: left;
    margin-top: 2px;
    border-radius: 3px;
    margin-right: 15px;
}
input[type=checkbox]:checked + label::before {
	background: red url(img/check.png) no-repeat 50% 50%;
	-webkit-background-size: contain;
	background-size: contain;
}
.check {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}
.check label {
	cursor: pointer;
	margin-left: 20px;
	font-weight: bold;
}

.check label .my_checkbox {
	margin-right: 15px;
}

.terms-a {
	color: red;
}
.captcha {
	width: 80%;
	background: transparent url(img/cap.png) no-repeat 0 0;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 12px auto;
}

.captcha .help-block {
	width: inherit;
}

.g-recaptcha > div {
	width: 100% !important;
	text-align: center;
	margin-top: 6px;
}

.form-container {
	color: #505050;
	margin-bottom: 40px;
}
.enter-form input[type=submit] {
	background-color: red;
	border: none;
	padding: 10px 0;
}

.resetBlock {
	width: 80%;
	margin: 0 auto 10px auto;
}

.footer-menu ul li a {
	font-size: 12px;
}