body {
  background-color: #ecf0f1;
  font-family: Arial, sans-serif;
  min-width: 320px;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.breadcrumb {
  margin: 0;
  background-color: transparent;
  padding: 0;
}

.breadcrumb li.active {
  color: #3cb878;
}

.breadcrumb li a {
  color: #939798;
}

.breadcrumb > li + li:before {
  content: '>';
  color: #939798;
}

.object-page .menu {
  margin-top: 40px;
  margin-bottom: 18px;
}

.object-page .links-user a {
  color: #939798;
}

.object-page .links-user a:first-child {
  margin-right: 3px;
}

.object-page .slider .lSSlideWrapper #imageGallery li {
  height: 100%;
  max-height: 566px;
}

.object-page .slider .lSSlideWrapper #imageGallery li img {
  width: 100%;
  position: relative;
}

.object-page .slider .pagerContainer {
  overflow: hidden;
  width: 85.5%;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.object-page .art-title {
  background-color: #fff;
  padding: 17px;
}

.object-page .art-title .price {
  color: #00bff3;
  font-weight: bold;
  font-size: 30px;
  line-height: .8;
}

.object-page .art-title .price .rub {
  font-size: 18px;
  font-weight: normal;
}

.object-page .art-title .price2 {
  font-size: 14px;
  color: #00bff3;
}

.object-page .art-description {
  background-color: #fff;
  padding-top: 20px;
}

.object-page .art-description .desc-row {
  margin-bottom: 20px;
  padding: 0 20px;
}

.object-page .art-description .desc-row .desc-name {
  color: #010101;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 6px;
}

.object-page .art-description .desc-row .desc-type {
  color: #aaa;
  font-size: 18px;
}

.object-page .stats {
  background-color: #f7f7fa;
  color: #aaa;
  padding: 0 20px;
  margin-bottom: 20px;
}

.object-page .stats-text {
  font-size: 13px;
  padding: 11px 0;
}

.object-page .stats-icons {
  line-height: 33px;
  font-size: 30px;
}

.object-page .stats-icons .fa {
  margin-top: 7px;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.object-page .stats-icons .fa:hover {
  color: #ff9731;
}

.object-page .stats-icons .fa:active {
  color: #aaa;
}

.object-page .s {
  color: #aaa;
  background-color: #fff;
  margin-bottom: 20px;
}

.object-page .s .sTitle {
  height: 80px;
  border-bottom: 1px solid #ecf0f1;
  padding: 0 20px;
}

.object-page .s .sTitle .h2 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.object-page .s .sContent p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.object-page .s.s1 .sTitle h2 {
  line-height: 80px;
}

.object-page .s .sContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.object-page .s.s2 .sTitle .h2 {
  line-height: 80px;
  white-space: nowrap;
}

.object-page .s.s2 .sTitle .markers {
  position: relative;
  margin-top: 31px;
}

.object-page .s.s2 .sTitle .markers span {
  display: inline;
}

.object-page .s.s2 .sTitle .markers .cork {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.object-page .s.s2 .mark-blue {
  color: #000;
}

.object-page .s.s2 .mark-blue:before {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #00bff3;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.object-page .s.s2 .mark-purple {
  margin-left: 20px;
  color: #000;
}

.object-page .s.s2 .mark-purple:before {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #cc9de5;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.object-page .s.s2 .cork {
  float: right;
}

.object-page .s.s2 .cork a {
  font-size: 14px;
  color: #00bff3;
}

.object-page .s.s2 #map,
.object-page .s.s2 #mapContacts {
  width: 100%;
  height: 370px;
  margin-top: 15px;
}

.object-page .s.s3 .sTitle .h2 {
  line-height: 80px;
}

.object-page .s.s3 .sContent {
  padding: 0;
}

.object-page .s.s3 .sContent ul {
  margin: 0;
}

.object-page .s.s3 .sContent ul li {
  border-bottom: 1px solid #ecf0f1;
  padding-left: 20px;
  padding-right: 20px;
}

.object-page .s.s3 .sContent ul li:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}

.object-page .s.s3 .sContent ul li .items {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
}

.object-page .s.s3 .sContent ul li .items .area {
  font-size: 18px;
  color: #1ab17a;
}

.object-page .s.s3 .sContent ul li .items .price {
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
}

.object-page .s.s3 .sContent ul li .items .priceM {
  font-size: 14px;
  color: #aaa;
}

.object-page .s.s3 .sContent ul li .items .stats-icons {
  text-align: right;
}

.object-page .s.s3 .sContent ul li .items .stats-icons .fa {
  font-size: 30px;
  margin-top: 0;
}

.object-page .s.s3 .sContent ul li .items .stats-icons .fa:hover {
  color: #ff9731;
}

.object-page .s.s3 .sContent ul li .items .stats-icons .fa:active {
  color: #aaa;
}

.object-page .s.s3 .sContent ul li .d-table {
  width: 100%;
}

.object-page .s.s3 .sContent .more {
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
}

.object-page .s.s3 .sContent .more a {
  color: #00bff3;
  font-size: 14px;
}

.object-page .s.s4 .sTitle .h2 {
  line-height: 80px;
}

.object-page .s.s4 .sContent .form {
  margin-top: 15px;
}

.object-page .s.s4 .sContent .form .input {
  margin-bottom: 15px;
}

.object-page .s.s4 .sContent .form .input label {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
}

.object-page .s.s4 .sContent .form .input input[type="text"] {
  background-color: #ecf0f1;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 29.5px 20px;
}

.object-page .s.s4 .sContent .form .input input[type="text"].resultCredit {
  color: #3cb878;
}

.object-page .s.s4 .sContent .form .input .SumoSelect {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.object-page .s.s4 .sContent .form .input .SumoSelect.open > .optWrapper {
  top: 80px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: #fbfcfc;
}

.object-page .s.s4 .sContent .form .input .SumoSelect.open > .optWrapper ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ecf0f1;
}

.object-page .s.s4 .sContent .form .input .SumoSelect.open > .optWrapper ul li:last-child {
  border: none;
}

.object-page .s.s4 .sContent .form .input .SumoSelect.open > .optWrapper ul li label {
  line-height: normal;
  height: 30px;
  padding: 5px 20px;
}

.object-page .s.s4 .sContent .form .input .SumoSelect .CaptionCont {
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #ecf0f1;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.object-page .s.s4 .sContent .form .input .SumoSelect .CaptionCont > span {
  line-height: 54px;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

.object-page .s.s4 .sContent .form .input .SumoSelect .CaptionCont > label {
  cursor: pointer;
}

.object-page .s.s4 .sContent .form .input .SumoSelect .CaptionCont > label > i {
  left: inherit;
  right: 20px;
  background-image: url("../images/selectArrow.png");
}

.object-page .s.s4 .sContent .form-info p {
  font-size: 16px;
  line-height: 1.6;
}

.s4 {
  position: relative;
}

.orange-block {
  height: 250px;
  width: 300px;
  background-color: #ff2400;
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.orange-block .block-content {
  position: relative;
  height: 100%;
}

.orange-block .block-content .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.object-page .s.s5 .sTitle .h2 {
  line-height: 80px;
}

.object-page .s.s5 .sContent {
  padding-top: 20px;
  line-height: 1.5;
}

.object-page .s.s5 .sContent .doc-hiding {
  font-size: 18px;
}

.object-page .s.s5 .sContent .download {
  color: #00bff3;
  font-size: 18px;
}

.object-page .s.s5 .sContent .docs {
  margin-top: 20px;
}

.object-page .s.s5 .sContent .docs a {
  color: #00bff3;
  font-size: 18px;
}

.object-page .s.s6 .sTitle {
  border-bottom: none;
}

.object-page .s.s6 .sTitle .h2 {
  line-height: 80px;
}

.object-page .s.s6 .sContent {
  background-color: #f7f7fa;
}

.object-page .s.s6 .sContent .contacts {
  padding-top: 20px;
}

.object-page .s.s6 .sContent .contacts .developer {
  width: 100%;
}

.object-page .s.s6 .sContent .contacts-list {
  margin: 0;
}

.object-page .s.s6 .sContent .contacts-list li {
  color: #000;
  font-size: 18px;
  margin-bottom: 7px;
}

.object-page .s.s6 .sContent .contacts-list li:last-child {
  margin-bottom: 0;
}

.object-page .s.s6 .sContent .contacts-list li a {
  color: #00bff3;
}

.object-page .s.s6 .sContent .contacts-list li.small {
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.object-page .s.s6 .sContent .contacts .contacts-height {
  position: relative;
  min-height: 150px !important;
}

.object-page .s.s6 .sContent .contacts .contacts-height .avatar {
  width: 90px;
  height: 90px;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  float: left;
}

.object-page .s.s6 .sContent .contacts .contacts-height .avatar img {
  width: 90px;
}

.object-page .s.s6 .sContent .contacts .contacts-height .name {
  float: left;
  width: 40%;
  height: 90px;
  padding-left: 25px;
}

.object-page .s.s6 .sContent .contacts .contacts-height .name .d-table {
  height: 100%;
}

.object-page .s.s6 .sContent .contacts .contacts-height .name .d-table .text {
  display: table-cell;
  color: #00bff3;
  font-size: 18px;
  vertical-align: middle;
}

.object-page .s.s6 .sContent .contacts .contacts-height .showPhone {
  width: 100%;
  margin-top: 30px;
  color: #fff;
  background-color: #3cb878;
  padding: 10px 0;
  outline: none;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  position: absolute;
  bottom: 0;
}

.object-page .s.s6 .sContent .contacts .contacts-height .showPhone:hover {
  background-color: #5dca92;
}

.object-page .s.s7 {
  margin-bottom: 0;
}

.object-page .s.s7 .sTitle .h2 {
  line-height: 80px;
}

.object-page .s.s7 .sContent {
  background-color: #ecf0f1;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.object-page .s.s7 .sContent .item {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.object-page .s.s7 .sContent .item .h3 {
  margin-bottom: 0;
}

.object-page .s.s7 .sContent .item .h3 a {
  font-size: 18px;
  color: #00bff3;
}

.object-page .s.s7 .sContent .item .price {
  font-size: 18px;
  font-weight: normal;
}

.object-page .s.s7 .sContent .item .popular-img {
  overflow: hidden;
}

.object-page .s.s7 .sContent .item .popular-img img {
  width: 100%;
}

.all {
  margin-top: 20px;
  margin-bottom: 80px;
}

.heading-line {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
}

.heading-line.more {
  text-align: center;
}

.heading-line.more button {
  color: #00bff3;
  font-size: 18px;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #fff;
  font-weight: bold;
}

.heading-line .h2 {
  font-size: 18px;
  color: #000;
  margin: 0;
}

.bg-newBuildings {
  margin: 20px 0;
  width: 100%;
  height: auto;
}

.bg-newBuildings img {
  width: 100%;
}

.banners {
  margin-bottom: 20px;
}

.banners a img {
  width: 100%;
}

.lSAction > a {
  bottom: 5.5%;
  top: inherit;
  background-image: url("../images/controls.png");
}

#imageGallery {
  background-color: #fff;
  height: auto !important;
}

.d-table {
  display: table;
  width: 100%;
}

.d-row {
  display: table-row;
}

.listAds .breadcrumb {
  margin-top: 40px;
  margin-bottom: 43px;
}

.listAds .searchButtons {
  margin-bottom: 20px;
}

.listAds .searchButtons .search-btn {
  display: block;
  width: 100%;
  outline: none;
  background-color: #fff;
  border: 1px solid #f7f7fa;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding: 20px 20px;
  position: relative;
  text-decoration: none;
}

.listAds .searchButtons .search-btn::before {
  color: #f20300;
  font-family: FontAwesome, sans-serif;
  font-size: 24px;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.listAds .searchButtons .search-btn.sort::before {
  content: "\f03a";
}

.listAds .searchButtons .search-btn.showOnMap::before {
  content: "\f041";
}

.listAds .searchButtons .SelectClass, .listAds .searchButtons .SumoSelect.open .search-txt, .listAds .searchButtons .SumoUnder {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 0;
  left: 0;
}

.listAds .searchButtons .SumoSelect {
  width: 100%;
}

.listAds .searchButtons .SumoSelect > .CaptionCont {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.listAds .searchButtons .SumoSelect > .CaptionCont::before {
  content: "\f03a";
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #f20300;
  font-family: Fontawesome, sans-serif;
  font-size: 24px;
}

.listAds .searchButtons .SumoSelect > .CaptionCont > label {
  display: none;
}

.listAds .searchButtons .SumoSelect > .CaptionCont > span {
  padding: 16px 30px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  cursor: pointer;
}

.listAds .searchButtons .SumoSelect.open > .optWrapper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  top: 59px;
}

.listAds .searchButtons .SumoSelect > .optWrapper .options > li.opt:first-child {
  border-top: 1px solid #f5f5f5;
}

.listAds .searchButtons .dropdown {
  position: relative;
}

.listAds .searchButtons .dropdown .dropdown-menu {
  background-color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.listAds .searchButtons .dropdown .dropdown-menu li a {
  display: block;
  padding: 5px 10px;
  color: inherit;
  text-decoration: none;
}

.listAds .searchButtons .dropdown .dropdown-menu li:hover {
  background-color: #ececec;
}

.listAds .banner-item {
  overflow: hidden;
  height: 250px;
  margin-bottom: 20px;
}

.listAds .banner-item img {
  width: 100%;
}

.listAds .content-list {
  margin-bottom: 20px;
}

.admy-item {
  background-color: #fff;
  position: relative;
  height: 165px;
  margin-bottom: 1px;
  overflow: hidden;
}

.admy-item a {
  text-decoration: none;
}

.admy-item .builder {
  padding-left: 25px;
  color: #00bff3;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.admy-item .preview {
  width: 120%;
}

.admy-item .decs-list {
  padding-left: 30px;
}

.admy-item .decs-list .houseInfo {
  margin: 0;
  font-size: 16px;
  color: #aaa;
}

.admy-item .decs-list .houseInfo li {
  float: left;
  margin-right: 5px;
  margin-top: 13px;
}

.admy-item .decs-list .houseInfo li:first-child {
  margin-top: 9px;
}

.admy-item .decs-list .houseInfo li span {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

.admy-item .prices-list {
  padding-left: 25px;
  font-size: 16px;
  color: #aaa;
  margin-top: 10px;
}

.admy-item .prices-list .rooms {
  color: #000;
}

.admy-item .prices-list .price {
  color: #3cb878;
}

.admy-item .address-wrap {
  padding-left: 30px;
}

.admy-item .address-wrap .address-text {
  color: #aaa;
  font-size: 16px;
}

.admy-item .cityLogo {
  position: absolute;
  top: 0;
  right: 10px;
}

.toBottom {
  position: absolute;
  bottom: 8px;
  left: 240px;
}

.toBottom .deadline {
  color: #939798;
  font-size: 12px;
  margin-bottom: 3px;
}

.toBottom .deadline span {
  margin-left: 30px;
}

.toBottom .price-list {
  color: #3cb878;
  font-size: 26px;
  font-weight: bold;
}

.toBottom .price-list .rub {
  font-size: 14px;
}

.userButtons {
  position: absolute;
  bottom: 3px;
  right: 5px;
}

.userButtons .fa {
  font-size: 24px;
  color: #fe952b;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.userButtons .fa:active {
  color: #aaa;
}

.banner-block {
  height: 250px;
  background-color: #fff;
  margin: 20px 0;
}

.searchButtons .form-group {
  margin-bottom: 0;
}

.content-list #banner-big > div {
  margin-bottom: 0;
}

.content-list #banner-big .box-body-banner {
  margin-top: 0;
}

.content-list #banner-big .box-banner {
  top: 0;
}

.listAds .help-block {
  display: none;
}

.breadcrumb-block {
  background-color: transparent;
}

.breadcrumb-block .btn-info.active {
  background-color: transparent;
  color: #3cb878;
  border: none;
}

.contact-slider {
  position: relative;
  width: 100%;
  height: 600px;
  background-position: center center;
  background-size: cover;
}

.contact-slider .slider-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-slider .slider-container .slider-info {
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.57);
}

.contact-slider .slider-container .slider-info img {
  width: 100px;
}

.contact-slider .slider-container .slider-info ul {
  margin-top: 5px;
}

.contact-slider .slider-container .slider-info ul li {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.breadcrumb {
  margin: 40px 0;
}

.user-ads .admy-item {
  margin-bottom: 20px;
  height: inherit;
}

.user-ads .admy-item .preview {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-ads .admy-item .decs-list {
  padding-left: 0;
}

.user-ads .admy-item .decs-list .houseInfo li {
  margin-top: 21px;
}

.user-ads .admy-item .decs-list .houseInfo li:first-child {
  margin-top: 9px;
}

.user-ads .admy-item .address-wrap {
  padding-left: 0;
}

.user-ads .admy-item .builder {
  padding-left: 0;
}

.user-ads .admy-item .prices-list {
  padding-left: 0;
}

.user-ads .admy-item .toBottom {
  left: 310px;
}

.user-ads .admy-item .user-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.user-ads .admy-item .user-controls ul li a {
  font-size: 18px;
  color: #00bff3;
  text-decoration: none;
}

.user-ads .admy-item .user-controls ul li a.toUp {
  color: #0abf6b;
  margin-top: 20px;
}

.user-ads .admy-item .user-controls ul li:last-child {
  margin-top: 20px;
}

.contact-page .s5 {
  min-height: 250px;
}

.contact-page .banner-right {
  margin: 0;
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
}

.user-nav a {
  display: block;
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #aaa;
  text-decoration: none;
  margin-bottom: 20px;
}

.user-nav a.active {
  background-color: #3cb878;
  color: #fff;
}

.pagination-block .pagination {
  margin: 20px 0 0 0;
}

.pagination-block .pagination li {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid transparent;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.pagination-block .pagination li:hover {
  border-color: #d14949;
}

.pagination-block .pagination li a {
  color: #d14949;
  display: block;
  width: 100%;
  border: none;
  padding: 0;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  background-color: transparent;
}

.pagination-block .pagination li.active {
  border: none;
  background-color: #d14949;
}

.pagination-block .pagination li.active a {
  color: #fff;
}

.pagination-block .pagination li > span {
  padding: 0;
  line-height: 50px;
}

.pagination-block .pagination li:first-child > span {
  display: block;
  text-align: center;
  width: 100%;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.my_icon .mark {
  position: relative;
  top: -47px;
  left: -15px;
  width: 33px;
  height: 51px;
  background: url("/images/mark-red.png") no-repeat;
  z-index: 3000000;
}

.my_icon .captionText {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-45px);
      -ms-transform: translateY(-45px);
          transform: translateY(-45px);
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  white-space: nowrap;
  z-index: 200000;
  font-size: 16px;
}

.all-ads .content-list .admy-item {
  height: inherit;
  margin-top: 20px;
  min-height: 220px;
}

.all-ads .content-list .admy-item .preview {
  width: 95%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 220px;
  background-size: cover;
  background-position: center center;
}

.all-ads .content-list .admy-item .decs-list {
  padding-left: 0;
}

.all-ads .content-list .admy-item .decs-list .houseInfo li {
  margin-top: 18px;
}

.all-ads .content-list .admy-item .decs-list .houseInfo li:first-child {
  margin-top: 14px;
}

.all-ads .content-list .admy-item .address-wrap {
  padding-left: 0;
}

.all-ads .content-list .admy-item .builder {
  padding-left: 0;
  margin-top: 10px;
}

.all-ads .content-list .admy-item .prices-list {
  padding-left: 0;
}

.all-ads .content-list .admy-item .toBottom {
  left: 310px;
}

.all-ads .content-list .admy-item .toBottom .deadline {
  font-size: 18px;
  margin-bottom: 8px;
}

.all-ads .content-list .admy-item .userButtons {
  right: 15px;
  bottom: 10px;
}

.contact-page .heading-line.more,
.all-ads .heading-line.more,
.calculator-page .heading-line.more {
  text-align: left;
}

.contact-page .heading-line.more a,
.all-ads .heading-line.more a,
.calculator-page .heading-line.more a {
  color: #31ace7;
  font-size: 18px;
  font-weight: bold;
}

div[data-key]:first-child .admy-item {
  margin-top: 0;
}

.well {
  border: none;
  background: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 0;
}

#search-map #search-result-objects-min {
  left: 0;
  padding-left: 0;
}

#search-map #search-result-on-map {
  padding: 0;
}

#search-map .list-view {
  padding-right: 0;
  padding-left: 0;
}

#search-map .admy-item {
  margin-bottom: 3px;
  height: inherit;
}

#search-map .admy-item .preview {
  width: 100%;
  height: 130px;
  margin: 10px 0 10px 10px;
  background-position: center center;
  background-size: cover;
}

#search-map .admy-item .address-wrap {
  padding-left: 0;
  margin-top: 10px;
  font-size: 16px;
}

#search-map .admy-item .price-list {
  color: #00bff3;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

#search-map .admy-item .builder {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0;
}

#search-map .admy-item .toBottom {
  left: 34%;
}

#search-map .admy-item .toBottom .deadline {
  color: #646464;
  font-weight: bold;
  font-size: 16px;
}

.onMap .all .more {
  text-align: left;
}

.onMap .all .more a {
  display: block;
  padding-left: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #00bff3;
}

#search-result-on-map {
  margin-bottom: 20px;
}

#search-result-on-map .s2 .sTitle {
  height: 80px;
  background-color: #fff;
  padding-left: 10px;
}

#search-result-on-map .s2 .sTitle .markers {
  position: relative;
  margin-top: 31px;
}

#search-result-on-map .s2 .sTitle .markers span {
  display: inline;
}

#search-result-on-map .s2 .sTitle .markers .cork {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#search-result-on-map .s2 .mark-blue {
  color: #000;
}

#search-result-on-map .s2 .mark-blue:before {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #00bff3;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#search-result-on-map .s2 .mark-green {
  margin-left: 20px;
  color: #000;
}

#search-result-on-map .s2 .mark-green:before {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #3cb878;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.ymaps-2-1-50-controls__toolbar_right {
  margin-right: 10px;
}

.ymaps-2-1-50-balloon {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ymaps-2-1-50-balloon__content > ymaps {
  width: inherit !important;
}

.clusterContent {
  width: 380px;
}

.clusterContent .yamap_balloonContentBody_img {
  clear: both;
}

.clusterContent .yamap_balloonContentBody_img .balloonRight, .clusterContent .yamap_balloonContentBody_img .balloonLeft {
  float: left;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft {
  padding-left: 5px;
  width: 73%;
  position: relative;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft .price {
  font-size: 18px;
  font-weight: bold;
  color: #31ace7;
  text-transform: uppercase;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft .company {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft .district {
  color: #2d2c2a;
  font-size: 16px;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft .deadline {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #a0a0a0;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft .yamap_balloonContentBody_img {
  margin-bottom: 10px;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft i {
  position: absolute;
  bottom: 0;
  right: 0;
}

.clusterContent .toH {
  min-height: 75px;
}

.ymaps-2-1-50-balloon__close + .ymaps-2-1-50-balloon__content {
  max-height: 800px;
}

.clusterContent .yamap_balloonContentBody_img .balloonLeft img {
  margin-bottom: 8px;
}

#search-map #search-result-objects-min {
  height: 980px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .listAds .admy-item {
    height: auto;
  }
  .listAds .toBottom {
    left: 237px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .orange-block {
    position: static;
    width: 100%;
  }
  .object-page .s.s6 .sContent .contacts-list {
    margin-bottom: 20px;
  }
  .object-page .s.s6 .sContent .contacts .name {
    width: 56%;
  }
  .object-page .s.s7 .sContent .item-wrapper .item {
    margin-bottom: 20px;
  }
  .object-page .s.s7 .sContent .item-wrapper:last-child .item {
    margin-bottom: 0;
  }
  .object-page .s.s6 .sContent .contacts .contacts-height {
    height: auto !important;
    min-height: inherit !important;
  }
  .object-page .s.s6 .sContent .contacts .contacts-height .developer {
    margin-bottom: 20px;
  }
  .object-page .s.s6 .sContent .contacts .contacts-height .showPhone {
    position: static;
  }
  .object-page .s.s6 .sContent .contacts-list li.small {
    position: static;
  }
  .object-page .s.s4 .sContent .form .input .calculationLabel {
    height: 45px;
  }
  .object-page .links-user {
    margin-top: 10px;
    float: left !important;
  }
  .listAds .admy-item {
    height: auto;
    margin-bottom: 20px;
  }
  .listAds .admy-item .preview {
    width: 100%;
  }
  .listAds .admy-item .builder {
    padding-left: 10px;
  }
  .listAds .admy-item .decs-list {
    padding-left: 10px;
  }
  .listAds .admy-item .address-wrap {
    padding-left: 10px;
  }
  .listAds .admy-item .prices-list {
    padding-left: 10px;
  }
  .listAds .banners-list {
    padding-top: 20px;
  }
  .toBottom {
    position: static;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 3px;
  }
  .user-ads .admy-item .preview {
    padding-top: 0;
    padding-left: 0;
  }
  .user-ads .admy-item .builder {
    padding-left: 10px;
  }
  .user-ads .admy-item .decs-list {
    padding-left: 10px;
  }
  .user-ads .admy-item .decs-list .houseInfo li {
    margin-top: 13px;
  }
  .user-ads .admy-item .decs-list .houseInfo li:first-child {
    margin-top: 0;
  }
  .user-ads .admy-item .address-wrap {
    padding-left: 10px;
  }
  .user-ads .admy-item .prices-list {
    padding-left: 10px;
  }
  .user-ads .admy-item .row > div {
    height: inherit !important;
  }
  .user-ads .admy-item .user-controls {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top: auto;
    left: auto;
    right: 10px;
    bottom: 0;
  }
  .user-ads .admy-item .user-controls ul li a {
    font-size: 15px;
  }
  .all-ads .content-list .admy-item .preview {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 300px;
  }
  .all-ads .content-list .admy-item .toBottom {
    left: 0;
  }
  .all-ads .content-list .admy-item .builder {
    padding-left: 10px;
  }
  .all-ads .content-list .admy-item .prices-list {
    padding-left: 10px;
  }
  .all-ads .content-list .admy-item .address-wrap {
    padding-left: 10px;
  }
  .all-ads .content-list .admy-item .decs-list {
    padding-left: 10px;
  }
  .ymaps-2-1-50-balloon__close + .ymaps-2-1-50-balloon__content {
    max-height: 400px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .lSAction {
    display: none !important;
  }
  .object-page .slider .pagerContainer {
    width: 72.5%;
  }
  .object-page .stats {
    padding-bottom: 10px;
  }
  .object-page .stats .stats-text {
    padding-bottom: 0;
  }
  .object-page .stats .stats-icons {
    line-height: 0px;
  }
  .object-page .s.s4 .sContent .form .input label {
    line-height: 50px;
  }
  .object-page .s.s2 .sTitle .markers {
    position: relative;
    margin-top: 23px;
  }
  .object-page .s.s2 .sTitle .markers span {
    display: block;
  }
  .object-page .s.s2 .sTitle .markers .cork {
    top: 50%;
    right: 0;
  }
  .object-page .s.s2 .sTitle .markers .mark-purple {
    margin-left: 0;
  }
  .pagination ul li {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .object-page .art-description .desc-row .col-sm-6 {
    width: 25% !important;
    float: left;
  }
}

@media only screen and (min-width: 480px) {
  .object-page .art-description .desc-row .col-sm-6 {
    width: 50%;
    float: left;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .object-page .slider .pagerContainer {
    width: 63.5%;
  }
  .object-page .art-description .desc-row:first-child {
    margin: 0;
  }
  .object-page .art-description .desc-row .desc-name {
    margin-top: 6px;
  }
  .all-ads .content-list .admy-item .cityLogo {
    display: none;
  }
  #search-result-on-map .ymaps-2-1-52-balloon__content > ymaps {
    width: 300px !important;
  }
  #search-result-on-map .balloonLeft {
    width: 52%;
  }
  #search-result-on-map .ymaps-2-1-50-balloon__close + .ymaps-2-1-50-balloon__content {
    max-height: 400px;
  }
}

@media only screen and (max-width: 380px) {
  .object-page .s.s2 .cork a {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

@media only screen and (max-width: 319px) and (min-width: 50px) {
  .object-page .col-lg-1,
  .object-page .col-lg-10,
  .object-page .col-lg-11,
  .object-page .col-lg-12,
  .object-page .col-lg-2,
  .object-page .col-lg-3,
  .object-page .col-lg-4,
  .object-page .col-lg-5,
  .object-page .col-lg-6,
  .object-page .col-lg-7,
  .object-page .col-lg-8,
  .object-page .col-lg-9,
  .object-page .col-md-1,
  .object-page .col-md-10,
  .object-page .col-md-11,
  .object-page .col-md-12,
  .object-page .col-md-2,
  .object-page .col-md-3,
  .object-page .col-md-4,
  .object-page .col-md-5,
  .object-page .col-md-6,
  .object-page .col-md-7,
  .object-page .col-md-8,
  .object-page .col-md-9,
  .object-page .col-sm-1,
  .object-page .col-sm-10,
  .object-page .col-sm-11,
  .object-page .col-sm-12,
  .object-page .col-sm-2,
  .object-page .col-sm-3,
  .object-page .col-sm-4,
  .object-page .col-sm-5,
  .object-page .col-sm-6,
  .object-page .col-sm-7,
  .object-page .col-sm-8,
  .object-page .col-sm-9,
  .object-page .col-xs-1,
  .object-page .col-xs-10,
  .object-page .col-xs-11,
  .object-page .col-xs-12,
  .object-page .col-xs-2,
  .object-page .col-xs-3,
  .object-page .col-xs-4,
  .object-page .col-xs-5,
  .object-page .col-xs-6,
  .object-page .col-xs-7,
  .object-page .col-xs-8,
  .object-page .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.page {
    padding:50px 0;
}

.page h1 {
    font-size:26px;
    font-weight:bold;
}

.page form {
    margin:25px 0;
}