/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #search-form{
    button {
      margin-left: 8px;
    }
  }
  #search-result-objects-min{
    .box{
      .box-header{

      }
      .box-body{
        >div{
          padding-left: 17px;
        }
      }
    }
  }
  div:last-child{
    padding-left: 0px;
  }
  #header{
    #title{
      margin-left: -22px;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #objects-preview{
    .box {
      height: 100%;
    }
  }
  #search-result-objects-min{
    left: 17px;
    top: 15px;
    .list-view{
      //width: 91%;
    }
  }
  #search-result-objects{
    .banner{
      width:100%;
      height:100%;
    }
  }
  #map{
    .find{
      margin-top: 15px;
    }
  }
  #header {
    #title {
      div:last-child{
        >div{
          margin-left: 15px;
          margin-top: 15px;
          margin-bottom: 5px;
          float: none !important;
        }
      }
    }
  }
  .breadcrumb{
    margin-left: 0px !important;
  }
}
@media only screen and (max-width : 940px) {
  #search-result-objects{
    .col-lg-7{
      width: 69% !important;
    }
    .box{
      .box-header {
        .col-lg-5 {
          width: 31.667% !important;
        }
        .vip{
          left:-14px !important;
        }
      }
    }
  }
  #object-list{
    ul.pagination{
      margin-left: 16px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #search-form{
    .container{
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  #menu-min{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #objects-preview{
    padding-left: 34px;
    padding-right: 29px;
    .text4{
      margin-bottom: 25px;
      margin-top: 15px;
    }
  }
  #object-info{
    margin-left: 13px;
  }
  #object-desc{
    margin-left: 13px;
  }
  #object-on-map{
    margin-left: 13px;
  }
  #object-link-items{
    margin-left: 13px;
  }
  #object-calculation{
    margin-left: 13px;
  }
  #object-docs{
    margin-left: 13px;
  }
  #contact-owner{
    margin-left: 13px;
  }
  #object-other{
    margin-left: 13px;
  }
  #object-other-town{
    margin-left: 13px;
  }
  #btn-all-objects{
    margin-left: 13px;
  }
  #cabinet-header{
    margin-left: 10px;
  }
  #object-list{
    margin-left: 10px;
    .box-body{
      >div{
        margin-top: 25px;
      }
    }
    .row{
      .col-xs-12{
        padding-right: 0px !important;
      }
    }
    ul.pagination{
      margin-left: 16px;
    }
  }
  .change-password-box{
    padding-left: 15px;
  }
  .change-avatar-box{
    padding-left: 15px;
  }
  .subscription-box{
    padding-left: 15px;
  }
  .profile-box{
    padding-left: 15px;
  }
  .reset-password-box{
    padding-left: 15px;
  }
  #request-password-reset-token{
    margin-left: 20px;
  }
  #profile{
    padding-left: 15px;
  }
  .title{
    padding-left: 15px;
  }
  footer{
    //margin-top: -78px;
    #footer, .footer-bottom{
      padding-left: 15px;
    }
  }
  #ya-map{
    padding-left: 15px;
  }
  #menu-top{
    .container{
      margin-left: 30px;
      margin-right: 30px;
    }
    padding-left: 15px;
    div:last-child{
      top: 1px;
      padding-left: 0px;
      float: none !important;
    }
    .col-xs-5{
      >div{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
  #search-result-objects-min{
    left: 29px;
    top: 15px;
    height: 100% !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    .list-view{
      margin-left: 5px;
    }
  }
  #search-result-objects{
    .box {
      width: 92%;
      height: 100%;
      left: 37px;
      .col-lg-7{
        width: 100% !important;
      }
      .box-body{
        //width: 140%;
        div{
          margin-top: 3px;
          margin-bottom: 3px;
          padding-bottom: 14px;
          padding-top: 13px;
        }
      }
      .box-header {
        .col-lg-5 {
          width: 104% !important;
        }
        .vip{
          width: 100% !important;
          left:-15px !important;
        }
      }
    }
    #banner-big {
      >div{
        left: 20px;
      }
    }
  }
  #header{
    #title{
      margin-left: 30px;
      div:last-child{
        div{
          margin-top: 20px !important;
          margin-left: 15px;
        }
      }
    }
    #site-name{
      margin-top: 0px;
    }
  }
  #search-panel{
    margin-left: 30px;
    div:first-child{
      margin-bottom: 10px;
      padding-left: 0px;
    }
    .btn-group{
      margin-top: 10px !important;
      left: 0px !important;
    }
  }
  #banner-big{
    margin-left: 20px;
    .col-xs-12{
      width: 95%;
    }
  }
}

@media only screen and (max-width : 720px) {
  #banners{
    .row{
      > div{
        padding-left: 60px;
      }
    }
  }
  #banners1{
    .row{
      > div{
        padding-left: 25px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #btn-all-objects{
    span{
      font-size: 15px !important;
    }
  }
  #search-form{
    #objectsearch-start_price{
      width:80px !important;
    }
    #objectsearch-end_price{
      width:100px !important;
    }
  }
  #search-result-objects{
    .box {
      .box-header {
        .col-lg-5 {
          width: 105% !important;
        }
      }
    }
  }
}
@media only screen and (max-width : 425px) {
  #search-result-objects{
    .box {
      .box-header {
        .col-lg-5 {
          width: 106% !important;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #banner-top{
    img{
      width:300px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #banner-top{
    img{
      width:370px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #banner-top{
    img{
      width:370px;
    }
  }
}