/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	input[type=text] {
	/*width: 86%;*/
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	input[type=text] {
	/*width: 82%;*/
	}

	.check label {
		margin-left: 0;
		padding-left: 0;
	}

	.captcha .g-recaptcha > div {
		position: relative;
	}

	.captcha .g-recaptcha iframe {
		position: absolute;
		top: 0;
		left: 50%;

		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;

		-webkit-transform: scale(0.8) translateX(-50%);
		-moz-transform: scale(0.8) translateX(-50%);
		-ms-transform: scale(0.8) translateX(-50%);
		-o-transform: scale(0.8) translateX(-50%);
		transform: scale(0.8) translateX(-50%);
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	input[type=text] {
	/*width: 82%;*/
	margin-top: 0;
	margin-bottom: 10px;
	}
	input[type=submit] {
	margin-left: -6px;
	}
	.enter-form input[type=submit] {
	margin-left: auto;
	margin-right: auto;
	}

	.captcha .g-recaptcha iframe {
		position: static;

		-webkit-transform-origin: 50% 50% 0;
		-moz-transform-origin: 50% 50% 0;
		-ms-transform-origin: 50% 50% 0;
		-o-transform-origin: 50% 50% 0;
		transform-origin: 50% 50% 0;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;

	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
/*	input[type=text] {
	width: 73%;
	}*/
	.check label {
		font-size: 16px;
	}

	.captcha .g-recaptcha > div {
		position: relative;
	}

	.captcha .g-recaptcha iframe {
		position: absolute;
		top: 0;
		left: 50%;
		
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;

		-webkit-transform: scale(0.77) translateX(-50%);
		-moz-transform: scale(0.77) translateX(-50%);
		-ms-transform: scale(0.77) translateX(-50%);
		-o-transform: scale(0.77) translateX(-50%);
		transform: scale(0.77) translateX(-50%);
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}