/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #search-form button {
    margin-left: 8px;
  }
  #search-result-objects-min .box .box-body > div {
    padding-left: 17px;
  }
  div:last-child {
    padding-left: 0px;
  }
  #header #title {
    margin-left: -22px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #objects-preview .box {
    height: 100%;
  }
  #search-result-objects-min {
    left: 17px;
    top: 15px;
  }
  #search-result-objects .banner {
    width: 100%;
    height: 100%;
  }
  #map .find {
    margin-top: 15px;
  }
  #header #title div:last-child > div {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    float: none !important;
  }
  .breadcrumb {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 940px) {
  #search-result-objects .col-lg-7 {
    width: 69% !important;
  }
  #search-result-objects .box .box-header .col-lg-5 {
    width: 31.667% !important;
  }
  #search-result-objects .box .box-header .vip {
    left: -14px !important;
  }
  #object-list ul.pagination {
    margin-left: 16px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #search-form .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  #menu-min {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #objects-preview {
    padding-left: 34px;
    padding-right: 29px;
  }
  #objects-preview .text4 {
    margin-bottom: 25px;
    margin-top: 15px;
  }
  #object-info {
    margin-left: 13px;
  }
  #object-desc {
    margin-left: 13px;
  }
  #object-on-map {
    margin-left: 13px;
  }
  #object-link-items {
    margin-left: 13px;
  }
  #object-calculation {
    margin-left: 13px;
  }
  #object-docs {
    margin-left: 13px;
  }
  #contact-owner {
    margin-left: 13px;
  }
  #object-other {
    margin-left: 13px;
  }
  #object-other-town {
    margin-left: 13px;
  }
  #btn-all-objects {
    margin-left: 13px;
  }
  #cabinet-header {
    margin-left: 10px;
  }
  #object-list {
    margin-left: 10px;
  }
  #object-list .box-body > div {
    margin-top: 25px;
  }
  #object-list .row .col-xs-12 {
    padding-right: 0px !important;
  }
  #object-list ul.pagination {
    margin-left: 16px;
  }
  .change-password-box {
    padding-left: 15px;
  }
  .change-avatar-box {
    padding-left: 15px;
  }
  .subscription-box {
    padding-left: 15px;
  }
  .profile-box {
    padding-left: 15px;
  }
  .reset-password-box {
    padding-left: 15px;
  }
  #request-password-reset-token {
    margin-left: 20px;
  }
  #profile {
    padding-left: 15px;
  }
  .title {
    padding-left: 15px;
  }
  footer #footer,
  footer .footer-bottom {
    padding-left: 15px;
  }
  #ya-map {
    padding-left: 15px;
  }
  #menu-top {
    padding-left: 15px;
  }
  #menu-top .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  #menu-top div:last-child {
    top: 1px;
    padding-left: 0px;
    float: none !important;
  }
  #menu-top .col-xs-5 > div {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  #search-result-objects-min {
    left: 29px;
    top: 15px;
    height: 100% !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }
  #search-result-objects-min .list-view {
    margin-left: 5px;
  }
  #search-result-objects .box {
    width: 92%;
    height: 100%;
    left: 37px;
  }
  #search-result-objects .box .col-lg-7 {
    width: 100% !important;
  }
  #search-result-objects .box .box-body div {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 14px;
    padding-top: 13px;
  }
  #search-result-objects .box .box-header .col-lg-5 {
    width: 104% !important;
  }
  #search-result-objects .box .box-header .vip {
    width: 100% !important;
    left: -15px !important;
  }
  #search-result-objects #banner-big > div {
    left: 20px;
  }
  #header #title {
    margin-left: 30px;
  }
  #header #title div:last-child div {
    margin-top: 20px !important;
    margin-left: 15px;
  }
  #header #site-name {
    margin-top: 0px;
  }
  #search-panel {
    margin-left: 30px;
  }
  #search-panel div:first-child {
    margin-bottom: 10px;
    padding-left: 0px;
  }
  #search-panel .btn-group {
    margin-top: 10px !important;
    left: 0px !important;
  }
  #banner-big {
    margin-left: 20px;
  }
  #banner-big .col-xs-12 {
    width: 95%;
  }
}
@media only screen and (max-width: 720px) {
  #banners .row > div {
    padding-left: 60px;
  }
  #banners1 .row > div {
    padding-left: 25px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #btn-all-objects span {
    font-size: 15px !important;
  }
  #search-form #objectsearch-start_price {
    width: 80px !important;
  }
  #search-form #objectsearch-end_price {
    width: 100px !important;
  }
  #search-result-objects .box .box-header .col-lg-5 {
    width: 105% !important;
  }
}
@media only screen and (max-width: 425px) {
  #search-result-objects .box .box-header .col-lg-5 {
    width: 106% !important;
  }
}
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #banner-top img {
    width: 300px;
  }
}
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #banner-top img {
    width: 370px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #banner-top img {
    width: 370px;
  }
}
