.container-fluid{padding:0px;}
body{font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:left;font-size:14px;line-height:17px;word-wrap:break-word;font-feature-settings:'liga';min-width:340px;}
.top-link{margin-top:5px;margin-bottom:20px;}
.top-link a{color:#22B573!important;font-size:14px;background-color:transparent;font-weight:bold;}
.top-link a:hover{text-decoration:underline;}
.header-title{margin-left:5px;max-width:550px;display:inline;}
.header-title .site-name{color:#1565C0;font-size:14px;}
.header-title h1{font-size:26px;font-weight:bold;margin-top:8px;word-wrap:break-word;}

@media (max-width:760px){.header-title{max-width:450px;}
}

@media (max-width: 640px) {
    .header-title h1.city-choosen {
        font-size: 16px;
    }

    .header-title {
        max-width: 350px;
    }

    footer.footer .liveinternet {
        width: 30px !important;
    }

    footer.footer {
        height: 202px !important;
    }

}
@media (max-width:540px){.header-title{max-width:250px;}
}
@media (max-width:440px){.header-title{max-width:200px;}
}
.state-icons{line-height:14px;color:#C7C7C7;font-size:12px;text-align:center;margin-left:3%;}
.state-icons.active{color:#FBB03B;}
.ico-favorite{background:url('../images/ico-favorite.png') no-repeat center;height:29px;position:relative;}
.ico-monitor{background:url('../images/ico-monitor.png') no-repeat center;height:29px;position:relative;}
.ico-autosearch{background:url('../images/ico-autosearch.png') no-repeat center;height:29px;position:relative;}
.ico-favorite span, .ico-monitor span, .ico-autosearch span{position:absolute;bottom:0px;right:4px;}
.trigger-left-menu{margin-left:5%;width:50px;height:50px;background:#1565C0 url('../images/ico-menu.png') no-repeat center;cursor:pointer;}
.trigger-left-menu:hover{background-color:#29ABE2;}
.blue{min-height:50px;border-width:0px;background-color:#1565C0;margin-top:2px;}
.home-link:hover{background-color:rgba(0,0,0,0.4);}
.home-link a{display:block;height:50px;width:18px;padding:0 25px;background:url('../images/ico-home.png') no-repeat center;}
.home-link a:hover{text-decoration:none;}
.main_menu{}
.main_menu ul{list-style:none;}
.main_menu ul li{line-height:50px;padding:0 20px;float:left;}
.main_menu ul li:hover{background-color:rgba(0,0,0,0.4);}
.main_menu ul li a{color:#FFF;}
.main_menu ul li a:hover{text-decoration:none;}
.ico-search{width:100px;height:50px;padding:0 20px;background:#1565C0 url('../images/ico-search.png') no-repeat 15px 15px;position:relative;color:#FFFFFF;line-height:50px;text-align:right;}
.ico-search:hover{background-color:rgba(0,0,0,0.4);cursor:pointer;}
.ico-search.active{background:none;background-color:#323C43;}
.ico-search .search-close{display:none;}
.trigger-search{position:relative;}
#form-search-block{position:absolute;display:none;z-index:100;width:320px;background-color:#323C43;padding-top:17px;padding-bottom:22px;right:0px;}
#form-search-block .control-item{display:block;width:100%;padding:5px 18px;background:transparent url(/image/new_header/2.jpg) no-repeat left bottom;overflow:hidden;}
#form-search-block .form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
#form-search-block .control-item .select2-selection{padding:0;border:none;background:transparent}
#form-search-block .control-item .select2-selection__arrow{display:none;}
#form-search-block .control-item .select2 .select2-selection__placeholder{color:#ccc;position:relative;}
#form-search-block .control-item .label{display:block;text-align:left;padding:0;color:#ccc;font-weight:normal;font-size:13px;margin-bottom:15px;}
#form-search-block .control-item label{color:#7F7F7F;font-size:13px;font-weight:normal;padding:0;margin-right:15px;}
#form-search-block .control-item .input.checkbox{display:inline-block;float:left;margin:0;margin-bottom:5px;}
#form-search-block .control-item .input.checkbox input+label:before{content:'';background:#232a2f;width:15px;height:15px;display:inline-block;margin:0px 7px -3px 0;}
#form-search-block .control-item .input.checkbox input:checked+label:before{background:#f7931e;}
#form-search-block .control-item .input.checkbox input{display:none;}
#form-search-block .control-item .ipgroup input{background:#323c43;width:49%;display:inline-block;float:left;border:1px solid #3e484d;border-radius:0;color:#fbb03b;box-shadow:none !important;margin-bottom:10px;}
#form-search-block .control-item .action-search{width:133px;border-style:solid;border-width:1px;border-color:#FBB03B;background-color:#FBBF62;background-color:rgba(251,176,59,0.8);background-position:center center;background-repeat:no-repeat;min-height:46px;background-image:url(/image/new_header/u60387-5.png);}
#form-search-block .control-item .action-search:hover{background-color:rgba(251,176,59,1);}
#form-search-block .control-item .action-map{width:134px;border-style:solid;border-width:1px;border-color:#29ABE2;background-color:rgba(41,171,226,0.8);line-height:45px;background-position:center center;background-repeat:no-repeat;display:inline-block;margin-left:2%;min-height:46px;background-image:url(/image/new_header/u60393.png);}
#form-search-block .control-item .action-map:hover{background-color:rgba(41,171,226,1);}
#form-search-block .control-item .action-subsribe{width:280px;border-width:0px;border-color:transparent;background-color:#F2F2F2;background-color:rgba(127,127,127,0.1);min-height:46px;background-position:center center;background-repeat:no-repeat;background-image:url(/image/new_header/u60404.png);}
#form-search-block .control-item .action-subsribe:hover{border-color:#22B573;background-color:#22B573;background-image:url(/image/new_header/u60404-r.png);}
.sm-menu{line-height:50px;color:#FFF;cursor:pointer;}
.sm-menu span{position:relative;}
.sm-menu span:after{content:"";background:url('../images/arrowmenudown.png') no-repeat center right;display:inline-block;margin-left:5px;height:10px;width:10px;}
.sm-menu:hover + .main_menu,
.main_menu:hover{display:block;}
.sm-menu{display:none;}
@media (max-width:600px){.sm-menu{display:block;width:250px;margin:0 auto;}
.main_menu{position:relative;display:none;}
.main_menu ul{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;width:250px;text-align:center;z-index:99999999;}
.main_menu ul li{width:250px;background:#1565C0;}
.main_menu ul li:hover{background-color:#29ABE2;}
}
@media (max-width:480px){.sm-menu{width:180px;}
.main_menu ul{width:180px;}
.main_menu ul li{width:180px;}
}
.top-banner{width:100%;}
.top-banner img{width:100%;height:100%;}
.breadcrumb-block{background-color:#F4F6F7;}
.breadcrumb{margin-top:20px;margin-bottom:20px;padding:0px;}
.breadcrumb a{text-decoration:none;}
.general{background-color:#ECF0F1;padding-top:20px;}
.general h2{font-size:18px;font-weight:bold;line-height:22px;margin-top:20px;margin-bottom:15px;}
.general h2 a:hover, .general h2 a:visited{color:#29ABE2;text-decoration:none;}
.general .strong_size{width:100%;height:250px;background-repeat:no-repeat;background-position:center top;background-size:cover;margin:0 auto 20px;}
.general .strong_size a{background:rgba(0,0,0, 0.4);display:block;width:100%;height:250px;color:#FCEE21;padding:10px;}
.general .strong_size a:hover{text-decoration:none;background:none;}
.general .strong_size p{margin:0;}
.general .strong_size .city_p{padding-top:130px;font-size:14px;}
.general .strong_size .price_p{font-size:18px;font-weight:bold;padding-top:20px;}
.general .strong_size .price_p span{font-size:14px;font-weight:400;}
.general .strong_size .jk_p{font-size:18px;font-weight:bold;}
.general .strong_size .developer_p{font-size:12px;}
.general .strong_size .last_city_p{padding-top:95px;}
.general .strong_size .big_devel_p{font-size:24px;}
.general .strong_size a div{width:125px;margin-top:10px;height:50px;background:#fff url(/image/logo_2.png) no-repeat center top;background-size:cover;}
.main-text{margin-top:40px;margin-bottom:20px;}
.text-content{background-color:#FFF;padding:20px;line-height:18px;font-size:15px;}
.text-content-title{font-size:22px;margin-bottom:25px;}
.banner-right{height:250px;width:300px;background-color:#29ABE2;color:#fff;margin-bottom:20px;text-align:center;padding-top:50px;}
@media (max-width:768px){.banners-right{margin-top:20px;}
.banner-right.br1{float:left;}
.banner-right.br2{float:right;}
}
@media (max-width:640px){.banner-right.br1, .banner-right.br2{float:none;margin:20px auto;}
}
footer.footer{background-color:#323C43;height:140px;}
.footer-menu{border-bottom:1px solid #000;}
.footer-menu ul{list-style:none;display:block;margin:0 auto;width:450px;overflow:hidden;}
.footer-menu ul li{float:left;padding:20px 30px;}
.footer-menu ul li a{color:#29ABE2;}
.footer-menu ul li a:hover{color:rgb(251, 176, 59);text-decoration:none;}
footer.footer .liveinternet{width:50px;margin:30px auto 0;display: inline-block;vertical-align: top;}

.footer__center {
	text-align: center;
}
.social {
    margin: 30px 0 0 0;
    display: inline-block;
	vertical-align: top;
}
.social ul {
	list-style: none;
}
.social ul li {
	display: inline-block;
}
.socico__fb {
    background: url(/img/social/1.png);
	background-size: 100%;
}
.socico__fb:hover {
    background: url(/img/social/2.png);
	background-size: 100%;
}
.socico__vk {
    background: url(/img/social/5.png);
	background-size: 100%;
}
.socico__vk:hover {
    background: url(/img/social/6.png);
	background-size: 100%;
}
.socico__od {
    background: url(/img/social/7.png);
	background-size: 100%;
}
.socico__od:hover {
    background: url(/img/social/8.png);
	background-size: 100%;
}
.socico__tw {
    background: url(/img/social/3.png);
	background-size: 100%;
}
.socico__tw:hover {
    background: url(/img/social/4.png);
	background-size: 100%;
}
.socico__ig {
    background: url(/img/social/9.png);
	background-size: 100%;
}
.socico__ig:hover {
    background: url(/img/social/10.png);
	background-size: 100%;
}
.socico {    
    width: 31px;
    height: 31px;
	display: block;
}


@media (max-width:640px){.footer-menu ul{width:250px;text-align:center;}
.footer-menu ul li{float:none;padding:10px;}
}
@media (min-width:1200px){.container{width:960px;}
}
.container{padding-right:10px;padding-left:10px;}
.row{margin-right:-10px;margin-left:-10px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-right:10px;padding-left:10px;}
.m{position:relative;}
#menu-toggle{position:absolute;right:0%;top:0%;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;margin-top:0px;margin-right:0px;display:none;z-index:1;margin:5px 5px 0 0;border-radius:0;color:#ff0a05;font-size:28px;}
#sidebar-wrapper{background:#ff495a none repeat scroll 0 0;height:100%;overflow-y:auto;position:fixed;right:0;top:0;transform:translateX(250px);transition:all 0.4s ease 0s;z-index:1000;}
#sidebar-wrapper.active{width:700px;right:250px;max-width:100%;transition:all 0.4s ease 0s}
#sidebar-wrapper .btn-light{background-color:#fff;border-radius:0;color:#333;}
#sidebar-wrapper .sidebar-nav{width:700px;max-width:100%;list-style:outside none none;margin:0;padding:0;top:0;color:#fff;}
#sidebar-wrapper .sidebar-nav.sidebar-nav-close{position:absolute;}
#sidebar-wrapper .sidebar-nav .sidebar-brand{margin-bottom:40px;margin-top:0px;margin-left:15px;}
#sidebar-wrapper .sidebar-nav .sidebar-brand h2{font-size:14px;}
#sidebar-wrapper .sidebar-nav li{line-height:40px;text-indent:20px;}
#sidebar-wrapper .sidebar-nav li a{color:#fff;display:block;text-decoration:none;}
#menu-close{z-index:1000;}
h2>a{color:#29ABE2;}

.alert-message {
    position:fixed;
    top:0;
}

.alert-message .alert {
    border-radius:0;
}