/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
/* end reset */

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.clear {
    clear: both;
}
/* ANIMATION */


/* END ANIMATION */

section {
    clear: both;
    float: left;
    width: 100%;
    
}
.wrap_head_top {
    min-height: 37px;
    background: #7FB8DD url("../img/bg_h_top.png") no-repeat left center;
    background-size: cover;
    
}
.wrap_head_top a {
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    float: left;
    line-height: 37px;
    background-color: rgba(91,119,126,0.5);
}
.wrap_head_top a:hover,
.wrap_head_top a:focus {
   background-color: rgba(129,148,148,0.5);
}
.wrap_head_top a:first-child {
    width: 190px;
}
.wrap_head_top a:nth-child(2) {
    width: 216px;
}
.wrap_head_top a:nth-child(3) {
    width: 178px;
}
.wrap_head_top a:last-child {
    float: right;
    width: 80px;
    
}
.menu_block {
    box-shadow: 0px 0px 53px rgba(0,0,0,0.4);
    min-height: 69px;
    background-color: #fff;
    z-index: 5;
    position: relative;
}
.box_logo {
    float: left;
    max-width: 360px;
    width: 100%;
}
.logo {
    float: left;
    width: 48px;
    height: 48px;
    background-color: #516B74;
    margin: 10px 15px 0px 0;
}
.logo img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.box_logo a {
    text-transform: uppercase;
    font-size: 18px;
    color: #668189;
    line-height: 22px;
    float: left;
    margin-top: 10px;
}
.box_logo h3 {
    line-height: 29px;
    font-size: 24px;
    color: #647F87;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
}
.block_box_list {
    float: right;
    max-width: 332px;
    width: 100%;
}
.box_list {
    float: left;
    width: 68px;
    height: 53px;
    margin: 8px 15px 0 0;
    position: relative;
}

.box_list a p {
    padding-top: 36px;
    color: #C8C8C8;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
#rss p {
    margin-left: -7px;
}
#compare p {
    margin-left: -6px;
}
#monitoring p {
    margin-left: -13px;
}
#menu-toggle p {
    margin-left: 2px;
    padding-top: 10px;
}
.main-menu_item--menu .close-icon {
    background: url('../img/close_icon.png') center 5px no-repeat;
}
.modal-menu {
    position: absolute;
    top: 106px;
    left: 0;
    right: 0;
    display: none;
    background: #ff5757;
    z-index: 999;
}
.modal_header {
    padding-top: 10px;
    padding-bottom: 70px;
}
.modal_logo {
    margin: 0;
    padding-top: 19px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.modal_city {
    max-width: 300px;
    margin-top: 5px;
    padding: 8px 15px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
}
.modal_title {
    margin: 0 0 30px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
.modal_menu {
    margin-bottom: 40px;
}
.modal_menu a {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 22px;
}
.modal_form {
    width: 300px;
    min-height: 220px;
    margin: 0 auto 40px;
    border: 1px solid #fff;
}
.modal_footer {
    padding: 40px 0;
    border-top: 1px solid #fff;
}
.social {
    text-align: center;
}
.social li {
    display: inline-block;
    margin: 0 135px;
}
.social a {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.social_vk {
    background: url('../img/vk-icon.png') center no-repeat;
}
.social_tw {
    background: url('../img/tw-icon.png') center no-repeat;
}
.social_fb {
    background: url('../img/fb-icon.png') center no-repeat;
}
.navbar-header > .block_box_list > .box_list > a:first-child {
    background-image: url('../img/sprite_menu.png');
    background-repeat: no-repeat;
    background-position: left top;
    width: 40px;
    height: 36px;
    display: block;
    margin: 0 auto;
} 
.box_list a p:hover, .box_list a p:focus{
  color: #F7931E;
}
#rss {
    background-position: top center;
}
#monitoring {
    background-position: top right;
}
#rss:hover, #rss:focus {
    background-position: center -36px;
}
#monitoring:hover, #monitoring:focus {
    background-position: right -36px;
}
#compare:hover, #compare:focus {
    background-position: left -36px;
}
.navbar-header {
    width: 100%;
}
.box_list #menu-toggle {
    float: right;
    background: none;
    width: 68px;
    height: 53px;
    color: #ff0a05;
	padding-top: 4px;
}
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #ff0a05;
    margin: 0 auto;
}
.icon-bar + .icon-bar {
    margin-top: 4px;
}
.box_list #menu-toggle p{
    color: #ff0a05;
    cursor: pointer;
}
.btn-lg {
    padding: 4px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
#sidebar-wrapper {
    background: #ED1C24 none repeat scroll 0 0;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(0px);
    transition: all 0.4s ease 0s;
    z-index: 1000;
}
#sidebar-wrapper.active {
    left: 0px;
    transition: all 0.4s ease 0s;
}
.sidebar-nav-close {
    position: absolute;
}
.pull-right {
   background: transparent; 
}
.box_menu_r {
    padding-left: 5px;
   
}
.box_map_h h2 {
    color: #7F7F7F;
    font-weight: bold;
    line-height: 29px;
    font-size: 24px;
}
.logo_r_menu {
    float: left;
    width: 190px;
    height: 58px;
    clear: both;
}
.logo_r_menu .logo {
    margin-right: 10px;
}
.logo_r_menu a {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    font-weight: 600;
    margin-top: 22px;
    display: block;
}
.box_list_nav {
    width: 190px;
    float: left;
    clear: both;
}
.box_list_nav a {
    float: left;
    display: block;
    width: 100%;
    color: #fff;
    margin-top: 15px;
    padding-left: 15px;
}
.scroll {
    float: left;
}
.house_box {
    background: #fff;
    float: left;
    height: 115px;
    width: 100%;
    position: relative;
	margin: 1px 0px 1px 0px;
}
.house_box img {
    margin: 5px 0px 0px 4px;
	float: left;
}
.house_box .bl_1 {
   float: left;
	margin: 2px 0px 0px 10px; 
}
.bl_1 .green {
	font-size: 18px;
	color: #22B573;
	line-height: 22px;
}
.bl_1 .g2_b {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
}
.bl_1 .g2_di {
	font-size: 12px;
	color: #000000;
	line-height: 24px;
}
.bl_1 .g2_m {
	line-height: 19px;
	font-size: 12px;
	color: #7F7F7F;
	font-weight: bold;
}
.house_box .subscription {
    right: 6%;
}
.head_block_form {
    background: transparent url("../img/bg_head_form.jpg") no-repeat center top;
    background-size: cover;
    min-height: 587px;
    width: 100%;
    clear: both;
    z-index: -1;
    position: relative;
}

.block_form {
    max-width: 942px;
    width: 100%;
    min-height: 254px;
    box-shadow: 8px 0px 50px rgba(0,0,0,0.3);
    background-color: rgba(94,123,131,0.6);
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
    margin-top: 40px;
    
}
.head_block_form form {
    color: #fff;
}
.head_block_form form input {
    background: none;
    color: #fff;
    border: 1px solid #D6DCE6;
    font-size: 14px;
    line-height: 17px;
    float: left;
    padding-top: 5px;
    padding-left: 4px;
    margin-top: 0px;
}
.head_block_form form input::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 14px;
    line-height: 17px;
}
.head_block_form form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 14px;
    line-height: 17px;
}
.head_block_form form p {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
}
.h_box_map {
    border-top: 0 none;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
    width: 100%;
    clear: both;
    margin-top: 20px;
}
#filter_map a {
    padding: 4px 0px 3px 7px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    display: block;
    width: 108px;
    height: 32px;
    float: left;
    line-height: 24px;
    background: #29ABE2 url("../img/list_icon_2.png") no-repeat 8px 5px;
}
#ascrail2000 > div {
    border-radius: 0px !important;
	width: 6px !important;
}
#ascrail2000 {
	background: #ECF0F1 !important;
}
#filter_map a:hover {
    background: #545454 url("../img/list_icon_2.png") no-repeat 8px 5px;
}
.filter_f {
    float: left;
    width: 100%;
    margin-top: 14px;
}
.block_map_list {
    float: left;
    width: 100%;
    min-height: 583px;
}
.box_list_home {
    float: left;
    width: 300px;
    height: 583px;
}
.box_list_map {
    float: left;
    height: 583px;
    width: 670px;
	position: relative;
	
}
.box_list_map .house_box{
	position: absolute;
	z-index: 10;
	max-width: 300px;
	width: 100%;
	top: 16%;
    left: 8%;
}
.bl_pag_map .pagination{
	margin-bottom: 0px;
	margin-left: -15px;
}
#filter_map input {
    border-style: solid;
    border-width: 1px;
    border-color: #CDCDCD;
    background-color: #FFFFFF;
    padding: 4px 0px 3px 15px;
    width: 154px;
	margin-right: 17px;
	margin-left: 5px;
    float: left;
}
#filter_map input:-moz-placeholder {
    font-size: 14px;
    color: #7F7F7F;
}
#filter_map input::-webkit-input-placeholder {
    font-size: 14px;
    color: #7F7F7F;
}
#filter_map input::-moz-placeholder {
    font-size: 14px;
    color: #7F7F7F;
}

.h_box_map h2 {
    display: block;
    padding: 10px 20px;
    position: relative;
    background: #fff;
    color: #7F7F7F;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 60px;
}
.box_b {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.head_block_form form .b_1, .head_block_form form .b_2, .head_block_form form .b_3, .head_block_form form .b_4, .head_block_form form .b_5, .head_block_form form .b_6, .head_block_form form .b_7, .head_block_form form .b_2_2 {
    float: left;
    width: 50%;
}
.head_block_form form .b_1 input, .head_block_form form .b_2 input, .head_block_form form .b_3 input, .head_block_form form .b_4 input, .head_block_form form .b_5 input, .head_block_form form .b_6 input, .head_block_form form .b_7 input {
    float: left;
    width: 100%;
    height: 29px;
}
#form_find input[type="radio"] + label {
    cursor: pointer;
}
.b_2 input {
    max-width: 125px;
}
.b_2_2 input {
    width: 50%;
    height: 29px;
    float: left;
}
.head_block_form form .b_3 {
    width: 60%;
}
.head_block_form form .b_4 {
    width: 40%;
    text-align: right;
}
.head_block_form form .b_3 input {
    width: 50%;
}
.radio_m:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio_m:not(checked) + label {
    position: relative; 
    width: 29px;
    height: 29px;
    border: 1px solid #D6DCE6;
    display: block;
    float: right;
    margin-left: 27px;
}
.radio_m:not(checked) + label:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    background: #7F7F7F;
    top: 10px;
    left: 10px;
}
.radio_m:checked + label:before {
    background: #ED1C24;
}
.radio_r_s:not(checked), .radio_r:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio_r_s:not(checked) + label{
    position: relative; 
    width: 70px;
    height: 29px;
    border: 1px solid #D6DCE6;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}
.radio_r:not(checked) + label{
    position: relative; 
    width: 29px;
    height: 29px;
    border: 1px solid #D6DCE6;
    display: block;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}
.radio_r_s:not(checked) + label:before {
    content: 'студия';
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: 0px;
}
#radio_rs_2:not(checked) + label:before {
    content: '1';
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0px;
    top: 0px;
}
#radio_rs_3:not(checked) + label:before {
    content: '2';
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0px;
    top: 0px;
}

#radio_rs_4:not(checked) + label:before {
    content: '3+';
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0px;
    top: 0px;
}
.radio_r:checked + label:before, .radio_r_s:checked + label:before {
    background: #ED1C24;
}
.head_block_form form .b_5 {
    max-width: 173px;
    width: 100%;
}
.head_block_form form .b_4 input,
.head_block_form form .b_5 input,
.head_block_form form .b_7 input {
    display: none;
}
.head_block_form form .b_6 {
    max-width: 110px;
}
.head_block_form form .b_6 input {
    width: 50%;
}
.head_block_form form .b_7 {
    width: 100%;
}

.radio_3:not(checked) {
    position: absolute;
    opacity: 0;
}
#ads_2 + label{
    float: right;
}
.radio_3:not(checked) + label{
    position: relative; 
    width: 128px;
    height: 29px;
    border: 1px solid #D6DCE6;
    display: block;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}
.b_7 label img {
    display: block;
    float: left;
    margin: 5px -10px 0px 10px;
}
#ads_1:not(checked) + label:before {
    content: 'списком';
    position: absolute;
    width: 126px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: transparent url('../img/list_icon.png') no-repeat 10px center;
    background-size: 13%;
}
#ads_2:not(checked) + label:before {
    content: 'на карте';
    position: absolute;
    width: 126px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: transparent url('../img/map_point_icon.png') no-repeat 10px center;
    background-size: 14%;
}
#ads_1:checked + label:before{
    background: #22B573 url('../img/list_icon.png') no-repeat 10px center;
    background-size: 13%;
    content: 'списком';
}
#ads_2:checked + label:before{
    background: #22B573 url('../img/map_point_icon.png') no-repeat 10px center;
    background-size: 14%;
    content: 'на карте';
}
#form_find button {
    background-color: #FFA620;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 108px;
    height: 45px;
    font-weight: 600;
    margin-left: 15px;
}
#form_find button:hover, #form_find button:focus {
    background-color: #545454;
}
.subscribe_rss {
    float: right;
    padding-right: 15px;
}
.subscribe_rss a {
    display: block;
    color: #fff;
    background-color: #29ABE2;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 281px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 45px;
}
.subscribe_rss a img {
    top: 12px;
    display: block;
    float: left;
    position: relative;
    left: 15px;
}
.subscribe_rss a:hover, .subscribe_rss a:focus {
    background-color: #545454;
}
.block_about_c {
    max-width: 942px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
}
.box_about_l, .box_about_c, .box_about_r {
    width: 300px;
    min-height: 109px;
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.box_about_l {
    margin-left: -10px;
}
.box_about_r {
    margin-right: -10px;
}
.box_about_c {
    margin-left: -3px;
}
#rg-gallery {

    width: 100%;
}
.rg-image-wrapper {

}

.content {
    clear: both;
    width: 100%;
    min-height: 1055px;
    background: #ECF0F1;
    box-shadow: 0px 0px 25px rgba(127,127,127,0.5);
    position: relative;
}
.content #banners a {
    width:300px;
    height:115px;
    display:block;
    margin: 10px auto;
    background: #FFFFFF url("../img/banner_sm.jpg") no-repeat center center;
    background-size: contain;
}
.box .box-footer .info-item {
    margin-right: 2%;
}
.block_spisok a {
    position: relative;
    width: 298px;
    height: 39px;
    border: 1px solid #D6DCE6;
    background: #fff;
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 39px;
    margin: 10px auto;
}
.subscription_2 {
    position: absolute;
    z-index: 1;
    right: 2%;
    top: 5px;
    width: 106px;
    height: 48px;
    background: transparent url("../img/1form_back.jpg") no-repeat center center;
    background-size: cover;
}
.block_spisok a:hover {
    background-color: #545454;
    color: #fff;
}
.block_spisok a img {
    position: absolute;
    display: block;
    top: 11px;
    left: 14px;
}
.box_lool {
    margin-bottom: 20px;
    background: #FFFFFF url("../img/siren.jpg") no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 250px;
    display: block;
}
.box_l_2 {
    background: #FFFFFF url("../img/shedrino.gif") no-repeat center center;
background-size: cover;
}

.box-banner {
    height: 250px;
    width: 100%;
    float: left;
    margin: 20px 0 20px 0;
}
.content #banners {
    margin-top: 10px;
    float: left;
}
.box_result_search {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.box_inside {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 176px;
    color: #fff;
    margin: 10px auto;
    font-size: 18px;
}
.box_map_h .box-header {
    
}
.block_map {
    padding: 20px;
}
.box_inside:hover, .box_inside:focus {
    color: #fff;
}
.box .h_2_box h2 {
    color: #7F7F7F;
    position: relative;
    font-weight: bold;
    line-height: 35px;
    font-size: 24px;
    min-height: 35px;
}
.box .in_1 {
    padding: 20px;
}
.box .in_1 p {
    font-size: 18px;
    line-height: 22px;
    color: #7F7F7F;
}
.box_1_a {
    background: #FE7372;
}
.box_2_a {
    background: #E7A434;
}
.box_3_a {
    background: #79BD9A;
}
.box_4_a {
    background: #29ABE2;
}
.box_5_a {
    background: #C7B299;
}
.box_6_a {
    background: #7F7F7F;
}
.box_1_a, .box_2_a, .box_3_a {
    margin-top: 20px;
}
.box_inside img {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.in_box_p {
    background-color: rgba(0,0,0,0.2);
    position: relative;
    text-align: center;
    height: 58px;
    width: 100%;
    bottom: -17px;
}
.in_box_p p {
    line-height: 58px;
}
.box_left_cont {
    float: left;
    max-width: 270px;
    width: 100%;
    padding-left: 15px;
}
#banner-big img{
    margin-top:-20px;
    margin-bottom:-10px;
}
#banners1 .row .col-lg-4{
    padding-left:8px;
    padding-right:8px;
}
.box_kv:hover {
    border-color: #ff9016;
}
.out_line {
    margin-top: 25px;
    margin-bottom: 15px;
}
.box_strong {
    text-align: center;
    font-size: 24px;
    background-color: #F7931E;
    line-height: 29px;
    min-height: 250px;
    width: 300px;
    margin: 0 auto;
}
.block_box {
    float: left;
    width: 100%;
}
.box_kv {
    border: 1px solid #ecf0f1;
    height: 174px;
    width: 100%;
    float: left;
    position: relative;
    cursor: pointer;
    background: #fff;
}
.block_box .box {
    margin-left: 5px;
    min-height: 250px;
}
.block_box .box .box-header h2 {
    color: #7F7F7F;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
}
.block_box .box .in_1 p {
    color: #7F7F7F;
    font-weight: normal;
    line-height: 19px;
    font-size: 16px;
}
.block_box .box .in_1 a {
    color: #29ABE2;
    font-weight: normal;
    line-height: 19px;
    font-size: 16px;
}
.block_box .box .in_1 div {
    float: left;
    width: 100%;
    margin-bottom: 38px;
}
.box_strong_img {
    float: left;
    width: 225px;
    height: 162px;
    margin: 5px;
    background: transparent url("../img/1-u13027-fr.jpg") no-repeat left top;
    background-size: cover;
}
.block_box .str_img {
    background: transparent url("../img/1form_back.jpg") no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    width: 285px;
    height: 129px;
}
.block_box .box-header {
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding: 10px 20px;
    position: relative;
    background: #fff;
}
.sh_box {
    border-top: 0 none;
    background-color: #F7F7FA;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 250px;
    float: left;
    width: 100%;
    clear: both;
}
.block-header {
    border-top: 0 none;
    background-color: #F7F7FA;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
    width: 100%;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-header h2 {
    display: block;
    padding: 10px 20px;
    position: relative;
    background: #fff;
    color: #7F7F7F;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 60px;
}
.sh_box p {
    line-height: 22px;
    font-size: 18px;
    color: #7F7F7F;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
}
.box_2 {
    width: 100%;
    float: left;
    min-height: 300px;
    padding-left: 5px;
    padding-right: 5px;
}
.box_2_in {
    background: #fff;
    width: 100%;
    padding-top: 25px;
    height: 300px;
}
.box_2_in > div {
    margin: 0 auto;
    width: 262px;
    height: 158px;
    margin-bottom: 20px;
}
.box_2_in p {
    padding-left: 25px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 18px;
    color: #7F7F7F;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
}
.box_2_in p span {
    color: #29ABE2;
}
.box_2_in .str_img_1 {
    background-image: url("../img/pic_1.jpg");
    background-size: cover;
}
.box_2_in .str_img_2 {
    background-image: url("../img/pic_2.jpg");
    background-size: cover;
}
.box_2_in .str_img_3 {
    background-image: url("../img/pic_3.jpg");
    background-size: cover;
}
.sh_box p span {
    color: #29ABE2;
}
.sh_box .rad_str_img {
    width: 80px;
    border-radius: 50px;
    height: 80px;
    border: 0px solid transparent;
    background: rgba(0,0,0,0) url("../img/nikolai_petr.jpg") no-repeat center center;
    background-size: cover;
    float: left;
}
.sh_box .l_cont {
    float: left;
    margin-left: 20px;
}
.sh_box .l_cont h3 {
    line-height: 22px;
    font-size: 18px;
    color: #29ABE2;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.sh_box .l_cont p {
    line-height: 22px;
    font-size: 18px;
    color: #7F7F7F;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.sh_box .l_cont .tel_sm {
    font-size: 14px;
    color: #7F7F7F;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.content #banners_apartment {
    float: left;
    width: 100%;
}
.content #banners_apartment a {
    height:115px;
    display:block;
    margin: 10px auto;
    background: #FFFFFF url("../img/banner_sm.jpg") no-repeat center center;
    background-size: contain;
}
.content #banners_apartment .box_lool_1 {
    background: #FFFFFF url("../img/ekogorod3.gif") no-repeat center center;
    background-size: cover;
    min-width: 300px;
    width: 100%;
    height: 250px;
    display: block;
}
.content #banners_apartment .box_lool_2 {
    background: #FFFFFF url("../img/siren.jpg") no-repeat center center;
    background-size: cover;
    min-width: 300px;
    width: 100%;
    height: 250px;
    display: block;
}
.content #banners_apartment .box_lool_3 {
    background: #FFFFFF url("../img/shedrino.gif") no-repeat center center;
    background-size: cover;
    min-width: 300px;
    width: 100%;
    height: 250px;
    display: block;
}
.content #banners_apartment .box_banner_lg {
    display: block;
    max-width: 640px;
    width: 100%;
    margin: 10px auto;
    height: 250px;
    float: left;
    background: #FFFFFF url("../img/jdi.gif") no-repeat center center;
    background-size: cover;
}
.content #banners_apartment .row > div {
    float: left;
    width: 100%;
    margin-top: -10px;
    padding: 0px 5px;
}

.block_box .box-header h2 {
    color: #7F7F7F;
    position: relative;
    font-weight: bold;
    line-height: 35px;
    font-size: 24px;
    min-height: 35px;
}
.block-header .text-aqua {
    text-align: center;
    color: #00c0ef;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 60px;
    display: block;
    padding: 10px 20px;
    position: relative;
    background: #fff;
}
.sh_box .box-header {
    margin-bottom: 20px;
}

.box_strong_img img{
    width: 100%;
}
.slider img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.box_tech p span {
    color: #29ABE2;
}
.box_tech {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 15px;
}
.box_tech p {
    line-height: 22px;
    font-size: 18px;
    color: #7F7F7F;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-top: 15px;
}
.left_txt {
    float: left;
    width: 33.333333337%; 
}
.centr {
    float: left;
    width: 33.333333337%;
    text-align: center;
}
.right_txt {
    float: right;
    text-align: right;
    width: 33.333333337%;
}
.l_50 {
    float: left;
    width: 50%;
}
#breadcrumb-in-object .breadcrumb {
    margin-top: 20px;
    font-family: Verdana;
    font-size: 15px;
}
.box_map_h {
    margin-bottom: 20px;
    font-family: Verdana;
    color: #7F7F7F;
    
}
#city-name {
    color: #29ABE2;
    cursor: pointer;
}
#city-name:hover {
    color: #7F7F7F;
}
.box .box-header {
    border-bottom: 1px solid #f4f4f4;
    color: #444;
    display: block;
    padding: 10px 20px;
    position: relative;
}
.box .first_th h2 {
    line-height: 50px;
    font-size: 30px;
    color: #29ABE2;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    float: left;
}
.box .first_th {
    float: left;
    width: 100%;
    padding: 10px;
}
.box_line_list > div {
    float: left;
    width: 100%;
    position: relative;
    min-height: 59px;
    padding: 10px;
    border-bottom: 1px solid #ECF0F1;
}
.box_line_list > div:hover {
    background: #ECF0F1;
}
.box_line_list > .active {
    background: #ECF0F1;
}
.box_line_list > div div p {
    font-size: 18px;
    line-height: 39px;
}
.box_line_list > div .info-item {
    position: absolute;
    right: 1%;
    top: 19px;
}
.box_line_list > div div .green {
    color: #22B573;
}
.box_line_list > div div .gray {
    color: #7F7F7F;
}
.txt_box_box-h {
    float: right;
    margin-right: 70px;
}
.txt_box_box-h .cen_t {
    font-size: 30px;
    line-height: 36px;
    color: #22B573;
}
.txt_box_box-h .sq_t {
    font-size: 18px;
    line-height: 22px;
    color: #22B573;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 150px;
}
.box_l_info_text {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_l_info_text > div {
    float: left;
    width: 50%;
    clear: both;
}
.box_l_info_text > div p {
    font-size: 12px;
}
.box_l_info_text > div .r_txt {
    color: #000000;
}
#breadcrumb-in-object .row{margin-left:-23px;}
#breadcrumb-in-object .row > div{padding-left:0px;padding-right:0px;}
.green_sl a {
    color: #3c763d;
    font-size: 24px;
}
.subscription {
    position: absolute;
    z-index: 1;
    right: 2%;
    bottom: 5px;
}
.fa-star-o {
    font-size: 24px;
}
.fa-eye {
    font-size: 24px;
}
.color-yellow {
    color: #ff9731;
}
.color-yellow:hover {
    color: #7F7F7F;
}
.blue_sl a {
    color: #29ABE2;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
.blue_sl a:hover, .blue_sl a:focus {
    color: #2a6496;
}
.text-aqua a {
    color: #00c0ef;
    font-weight: 600;
    font-size: 14px;
}
.box_banner_lg {
    display: block;
    max-width: 626px;
    width: 100%;
    margin: 20px auto;
    height: 250px;
    float: left;
    background: #FFFFFF url("../img/jdi.gif") no-repeat center center;
	background-size: cover;
}
.block_pagination {
    float: left;
    width: 100%;
    text-align: center;
}
.block_pagination > .pagination > li > a, .pagination > li > span {
    color: #D2494A;
    background-color: transparent;
    border: 1px solid transparent;
}
.block_pagination > .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #D2494A;
    border-radius: 100px;
    border-color: #D2494A;
    
}
.block_pagination > .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    border: 1px solid #D2494A;
    border-radius: 100px;
}
.block_pagination > .pagination-lg > li > a, .pagination-lg > li > span {
    padding: 9px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}




.box_info_ap p {
    font-size: 14px;
    color: #7F7F7F;
    float: left;
    width: 33.33333337%;
}
.box_rai_info {
    float: left;
    width: 100%;
}
.box_rai_info p {
    font-size: 14px;
    color: #7F7F7F;
}
.srok_sdachi {
    float: left;
    width: 50%;
    clear: both;
}
.l_txt {
    font-size: 10px;
    color: #7F7F7F;
    line-height: 12px;
    float: left;
}
.r_txt {
    font-size: 10px;
    color: #7F7F7F;
    line-height: 12px;
    float: right;
}
.first_t {
    margin-top: 5px;
}
.third_t {
    float: left;
    width: 100%;
    color: #000000;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

#search-result-objects .box .box-header .col-lg-5 {
    width: 37.667%;
}
#search-result-objects .box .box-header .img-thumbnail {
    border-radius: 0px;
}
#search-result-objects .box .box-header > div {
    margin-bottom: 5px;
    margin-top: -5px;
    padding-left: 0px;
    margin-left: -5px;
}
.box_text_content {
    background: #fff;
    margin-top: 10px;
}
.box_text_content p {
    padding: 15px;
}
.h4_box {
    border-bottom: 1px solid #ECF0F1;
    min-height: 60px;
}
.h4_box h4 {
    line-height: 60px;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}
.block_right_bl {
    background-color: #29ABE2;
    width: 300px;
    min-height: 250px;
    margin: 10px auto;
}

.block_942 {
    max-width: 942px;
    width: 100%;
    clear: both;
    margin: 0 auto;
    margin-top: 60px;
}
.block_942 a {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
    background-color: #5B777E;
}
.block_942 a:hover, .block_942 a:focus {
    background-color: #819494;
}
.block_942 a p {
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}
.head_block_form form .b_border_l {
    border-left: 0px;
}

@media only screen and (min-width : 320px) and (max-width : 663px) {
.wrap_head_top a:first-child {
    width: 100%;
}
.wrap_head_top a:nth-child(2) {
    width: 100%;
}
.wrap_head_top a:nth-child(3) {
    width: 100%;
}
.wrap_head_top a:last-child {
    width: 100%;
}
.modal-menu {
    top: 217px;
}   
}
@media only screen and (min-width : 320px) and (max-width : 450px) {
.h4_box h4 {
    line-height: 30px;
    text-align: center;
}

.box_strong_img {
    float: left;
    width: 100%;
    height: 250px;
    background: transparent url("../img/1-u13027-fr.jpg") no-repeat center top;
    background-size: cover;
}
}

@media only screen and (min-width : 320px) and (max-width : 767px) {
.box_list_map {
    float: left;
    height: 583px;
    max-width: 670px;
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.box_list_home {
    float: none;
    width: 300px;
    height: 583px;
    margin: 0 auto;
}
.h_box_map h2 {
    height: 100%;
    text-align: center;
}
.filter_f {
    float: none;
    width: 300px;
    margin: 0 auto;
	margin-top: 14px;
}
.box_list_map .house_box {
    left: 3%;
}
.box_kv {
    height: auto;
    width: 100%;
    float: left;
    position: relative;
    padding: 0px 10px 0 0;
}

.box_left_cont {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 10px;
    padding: 10px 0px;
}

.block {
    width: 100%;
    float: none;
    text-align: center;
}
.social li {
    margin: 0 20px;
}
.form-title {
    text-align: center;
}
.modal_logo { 
    text-align: center;
}
.modal_city {
    margin: 10px auto;
}

.navbar-header {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
.box_about_l {
    margin-left: 0px;
    margin: 10px auto;
}
.box_about_c {
    margin-left: 0px;
    margin: 10px auto;
    
}
.box_about_r {
    margin-right: 0px;
    margin: 10px auto;
    margin-bottom: 20px;
}

.box_logo h3 {
       font-size: 14px;
}
.box_logo a {
    font-size: 14px;
}
.block_box_list > .box_list:first-child {
    display: none;
}
.block_box_list > .box_list:nth-child(2) {
    display: none;
}   
.block_box_list > .box_list:nth-child(3) {
    display: none;
} 
.block_box_list > .box_list:last-child {
    margin: 8px 0px 0px 0px;
}
.block_box_list {
    float: left;
    margin: 0 auto;
    max-width: 68px;
    width: 100%;
}
.box_logo {
    float: left;
    margin: 0 auto;
    width: 236px;
    margin-left: 12px;
}
.box_list {
     margin: 8px 9px 0px 0px;   
}
.subscribe_rss {
    float: none;
    padding-right: 0px;
}
.subscribe_rss a {
    margin: 0 auto;
}
#form_find button {
    margin: 0 auto;
    float: none;
    display: block;
    margin-bottom: 20px;
}
.head_block_form form .b_7 {
    width: 284px;
    margin: 0 auto;
    float: none;
}
.box .first_th h2 {
    float: none;
    text-align: center;
}
.txt_box_box-h {
    float: none;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
}
.box_tech p {
    text-align: center;
}   
.box .h_2_box h2 {
    text-align: center;
}    
.box_map_h h2 {
    text-align: center;
}    
#object-calculation .box-header h2 {
    font-size: 20px;
    text-align: center;
}  
#object-calculation .box-body span {
    margin-top: 11px;
    margin-left: 0px;
    font-size: 13px;
}   
#object-calculation .box-body .form-control {
    padding-left: 5px;
    font-size: 20px;
}    
.block_box .box .box-header h2 {
    text-align: center;
}   
.block_box .box .in_1 div {
    text-align: center;
}    
.block_box .box-header h2 {
    text-align: center;
} 
.box_strong {
    margin-bottom: 20px;
}    
.sh_box p {
    text-align: center;
}   
.block-header h2 {
    text-align: center;
    height: 100%;
}    
.box_2_in p {
    text-align: center;
    padding-left: 0px;
}   
.content #banners_apartment a {
    width: 300px;
}  
.content #banners_apartment .box_lool_1 {
    width: 300px;
}    
.content #banners_apartment .box_lool_2 {
    width: 300px;
}  
.content #banners_apartment .box_lool_3 {
    width: 300px;
}    
.block-header .text-aqua {
    height: 100%;
}   
 

}
@media only screen and (min-width : 451px) and (max-width : 767px) {
.box_strong_img {
    float: left;
    width: 100%;
    height: 316px;
    background: transparent url("../img/1-u13027-fr.jpg") no-repeat center top;
    background-size: contain;
}
.box_left_cont {
    position: relative;
    float: none;
    width: 100%;
    margin-left: 10px;
    padding: 10px 0px;
    margin: 0 auto;
    text-align: center;
}
.srok_sdachi {
    float: none;
    width: 50%;
    clear: both;
    margin: 0px auto;
    height: 10px;
    margin-bottom: 25px;
    padding-top: 25px;
}
.box_l_info_text {
    float: none;
    width: 100%;
    margin: 20px auto;
    clear: both;
}
.box_l_info_text > div {
    float: none;
    width: 50%;
    clear: both;
    margin: 0 auto;
}

}
@media only screen and (min-width : 768px) and (max-width : 991px) {
.box_list_map {
    float: left;
    height: 583px;
    width: 450px;
    position: relative;
}
.block_box .box .in_1 div {
    margin-bottom: 31px;
}
.block_box .str_img {
    width: 100%;
    height: 100px;
}    
.sh_box p {
    text-align: center;
}   
.sh_box .rad_str_img {
    float: none;
    margin: 0 auto;
}  
.sh_box .l_cont {
    float: none;
    margin-left: 0px;
}  
.sh_box .l_cont h3 {
    margin-bottom: 0px;
    text-align: center;
}
.box_2_in > div {
    width: 100%;
    height: 158px;
}
.content #banners_apartment a {
    width: 300px;
} 
.content #banners_apartment .box_lool_1 {
    width: 300px;
}    
.content #banners_apartment .box_lool_2 {
    width: 300px;
}  
.content #banners_apartment .box_lool_3 {
    width: 300px;
}     
.content #banners_apartment .box_banner_lg {
    float: none;
}
.box .box-footer .info-item {
    right: 2%;
    position: absolute;
}
.block_banner_lg {
    clear: both;
    margin: 0 auto;
    max-width: 626px;
    width: 100%;
    height: 250px;
}
.block_in {
    max-width: 750px;
    width: 100%;
}
.radio_m:not(checked) + label {
    margin-left: 14px;
}   
.head_block_form form .b_6 {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
}
.head_block_form form .b_5 {
    max-width: 174px;
    width: 100%;
    margin: 0 auto;
    float: none;
}  
.radio_3:not(checked) + label {
    margin: 10px auto;
    float: none;
} 
.form-title {
    text-align: center;
}
.social li {
    margin: 0 50px;
}
#ads_2 + label {
    float: none;
}    
.head_block_form form .b_7 p {
    text-align: center;
} 
.box_about_r {
    margin: 0 auto;
    margin-bottom: 20px;
}   
.box_about_l {
    margin: 0 auto;
}  
.box_about_c {
    margin: 0 auto;
    margin-bottom: 20px;
}

    
    
    
}


@media only screen and (max-width : 940px) {
    .breadcrumb{padding-left:22px;}
}
@media only screen and (min-width : 992px) {
.container {
    width: 960px;
}
.block_in {
    max-width: 942px;
    width: 100%;
}
}
@media only screen and (min-width : 992px) and (max-width : 1199px) {
.box_list_map {
    float: left;
    height: 583px;
    width: 660px;
    position: relative;
}
}

@media only screen and (min-width : 1200px) {
.container {
    width: 970px;
}
.block_in {
    max-width: 942px;
    width: 100%;
}
}
.mybl{
position: relative !important;
    width: 298px !important;
    height: 39px !important;
    border: 1px solid #D6DCE6 !important;
    background: #fff !important;
    text-align: center !important;
    display: block !important;
    font-size: 18px !important;
    line-height: 39px !important;
    margin: 10px auto !important;
	float:right;
}




::-moz-placeholder { opacity: 1; } // FF
::-webkit-input-placeholder { opacity: 1; } // Webkit

